<ng2-slim-loading-bar height="6px"></ng2-slim-loading-bar>
<!-- Navigation -->
<div class="container-flud">
    <section>
        <div class="contentnav">
            <nav class="navbar navbar-expand-lg navbar-fixed-top noboder" role="navigation" [ngClass] ="{'navbar-seller': viewSeller, 'navbar-buyer': !viewSeller}">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#Menu" aria-controls="Menu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Menu" aria-controls="Menu"> 
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button> -->

                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse mr-auto" id="Menu">
                    <ul class="nav navbar-nav">
                        <li *ngIf="!viewSeller" class="logo">
                            <a routerLink="home/index" style="margin:0 !important; padding: 16px 0 0 10px !important;" routerLinkActive="active">
                                <span class="title">MOQller</span>
                            </a>
                            <a routerLink="home/index" style="margin:0 !important; padding: 3px 0 0 10px !important" routerLinkActive="active">
                                <span class="slogan">Your Goal. Our Vision. Excess = 0 </span>
                            </a>
                            <!-- <a routerLink="home/index" style="margin:0; padding:0;min-width: 300px;" routerLinkActive="active" (click)="onMenuClick()"><img src="/assets/images/logo.png" alt="MOQLLER your vision. Our goal. Excess"/></a> -->
                            <!-- <a routerLink="home/index" routerLinkActive="active" (click)="onMenuClick()"><i class="fa fa-home"></i>  Home</a> -->
                        </li>
                        <li class="logo" *ngIf = "viewSeller && !viewLogin">
                            <a routerLink="home/seller/index" style="margin:0 !important; padding: 16px 0 0 10px !important;" routerLinkActive="active">
                                <span class="title">MOQller</span>
                            </a>
                            <a routerLink="home/seller/index" style="margin:0 !important; padding: 3px 0 0 10px !important" routerLinkActive="active">
                                <span class="slogan_seller">Your Goal. Our Vision. Excess = 0 </span>
                            </a>
                            <!-- <a routerLink="home/seller/index" style="margin:0; padding:0;min-width: 300px;" routerLinkActive="active" (click)="onMenuClick()"><img src="/assets/images/logo.png" alt="MOQLLER your vision. Our goal. Excess"/></a> -->
                            <!-- <a routerLink="home/seller/index" routerLinkActive="active" (click)="onMenuClick()"><i class="fa fa-home"></i>  Home</a> -->
                        </li>
                    </ul>
                    <ul class="nav navbar-nav ml-auto pull-right" *ngIf="!viewDataEntry">
                        <li *ngIf = "viewLogin">
                            <a routerLink="home/login" routerLinkActive="active" >Sign in</a>
                        </li>
                        <li *ngIf="viewLogin">
                            <a routerLink="home/register" routerLinkActive="active" >Register</a>
                        </li>
                        
                    </ul>
                    <ul class="nav navbar-nav ml-auto" *ngIf="viewDataEntry">
                        <li>
                            <a routerLink="dataentry/index" routerLinkActive="active" >List of Order ID</a>
                        </li>
                        <li>
                            <a routerLink="dataentry/reviewmateriallist" routerLinkActive="active" >Review Material List</a>
                        </li>
                    </ul>
                    <!-- <ul class="nav navbar-nav sellerLink pull-right" *ngIf = "viewSeller && !viewLogin">
                        
                    </ul> -->
                    <ul class="nav navbar-nav pull-right">
                        <li *ngIf="!viewLogin && !viewSeller && !viewDataEntry" class="nav-item">
                            <a routerLink="home/seller" routerLinkActive="active" (click)="onSellerClick()">Selling</a>
                        </li>
                        <li  *ngIf = "viewSeller && !viewLogin && !viewDataEntry" class="nav-item">
                            <a routerLink="home/buyer/index" routerLinkActive="active" (click)="onBuyerClick()">Buying</a>
                        </li>
                        <li *ngIf="viewManagement" class="nav-item">
                            <a routerLink="/main/country/index" routerLinkActive="active">Management</a>
                        </li>
                        <li *ngIf = "viewSeller && !viewLogin && !viewDataEntry" class="nav-item">
                            <a routerLink="home/transactionhistory" routerLinkActive="active">Transaction History</a>
                        </li>
                        <li *ngIf = "viewSeller && !viewLogin && !viewDataEntry" class="nav-item">
                            <a routerLink="home/sellerordermanagement" routerLinkActive="active">Order Management</a>
                        </li>
                        <li *ngIf = "viewSeller && !viewLogin && !viewDataEntry">
                            <a routerLink="home/seller/inventorymanagement" routerLinkActive="active">Inventory Management</a>
                        </li>
                        <li *ngIf="!viewLogin && !viewSeller && !viewDataEntry">
                            <a [routerLink]="['/home/bommanagement/index',selectBomId]" routerLinkActive="active">BOM Management</a>
                        </li>
                        
                        <li *ngIf="!viewLogin && !viewSeller && !viewDataEntry">
                            <a routerLink="/home/transactionhistory" routerLinkActive="active">Transaction History</a>
                        </li>

                        <li *ngIf="!viewLogin && !viewSeller && !viewDataEntry">
                            <a routerLink="home/ordermanagement" routerLinkActive="active">Order Management</a>
                        </li>
                        <li *ngIf="!viewLogin">
                            <a href="#"><i class="fa fa-smile-o" style="font-size:18px;"></i> Hi {{user.firtName}}!</a>
                        </li>
                        <li *ngIf="!viewLogin">
                            <!-- <a routerLink="#" routerLinkActive="active" (click)="onMenuClick()">My Account</a> -->
                            <ul class="nav navbar-nav">
                                <li role="presentation" class="dropdown">
                                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                        My Account

                                    </a>
                                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                        <li>
                                            <a routerLink="./home/changepassword" routerLinkActive="active">
                                                <strong>Change Password</strong>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li *ngIf="!viewLogin && !viewSeller && !viewDataEntry">
                                <a routerLink="home/cart" routerLinkActive="active">
                                    Cart
                                    <span class='badge badge-light' >{{CountItemCart}}</span>
                                </a>
                            </li>
                        <li *ngIf="!viewLogin">
                            <a id="logout" routerLink="#" routerLinkActive="active" (click)="logout();">Sign out</a>
                        </li>
                    </ul>

                </div>

                <!-- /.navbar-collapse -->

                <!-- /.container -->
            </nav>
        </div>
    </section>
    
    <section class="Content">
        <div class="content">
            <router-outlet>
            </router-outlet>
        </div>
    </section>
    
    <section class="footer">
        
        <div [ngClass] ="{'sellerfooter': viewSeller && !viewLogin}">
            <div>
                <div class="menu-bottom">
                    <ul>
                        <li>
                            <a routerLink="home/underconstruction">Privacy Policy</a>
                        </li>
                        <li>
                            <a routerLink="home/underconstruction">Terms of Service</a>
                        </li>
                        <li>
                            <a routerLink="home/underconstruction">Contact Us</a>
                        </li>
                        <li>
                            <a routerLink="home/underconstruction">Feedback</a>
                        </li>
                        <li>
                            <a routerLink="home/howitwork">How it works?</a>
                        </li>
                        <li>
                            <a routerLink="home/underconstruction">FAQs</a>
                        </li>
                        <li>
                            <a routerLink="home/underconstruction">About Us</a>
                        </li>
                    </ul>
                </div>
                <!--end .menu-bottom-->
                <div class="clear"></div>
                <div class="copyright">
                    <p>Copyright © {{date| date:'yyyy'}} MOQller.com. All Rights Reserved</p>
                </div>
                <!--end .copyright-->
            </div>
        </div>
    </section>
</div>

<!-- /.container -->