.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background-color: #2868b2;
}

.content{
    padding: 0 0 80px 0;
    margin: 20px 0 0 0;
}

.copyright {
    color: #000;
}