
 .table>thead>tr>th {
     padding: 5px;
 }
 input{
    background : transparent; 
    width: 100%;
    text-align: inherit;
    border:none 
 }
 select{
    width: 100%;
    text-align: inherit;
    /* border:none */
 }
 textarea{
     border:none
 }
 
 .diffQty{
     color: #008000;
 }
 .misingpartnumber{
    color:#0000ff;
}
.newpartnumber{
    color:#ffff00;
}
.duppartnumber{
    color: #e2871f;
}
.othererror{
    color: #ffc0cb;
}

div.chart-container {
padding: 1px;
}
.font11{
    font-size:10px;
    line-height :1;
}

.inner{
    position: fixed;
    top:70px;
    bottom:81px;
    right:10px;
    left:10px;
    background-color:#fff;
}
.scroll-div{
    overflow-y: scroll;
    height: 100%;
}
.he{
    height:500px ;
}
.hei{
    height:400px;
    overflow-y: scroll;
}