<div class="clearfix" *ngIf="!showList"></div>
<div class="row margintotal" style = "overflow:hidden;">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel" style = "overflow:hidden;">
      <div class="x_content notop">
        <div class="title_left">
          <div  class="center30" [ngClass]="{displayupload:showUpload,hideupload:hideUpload}">
            <div *ngIf="showColumn">
              <div class="form-group">
                <label>Part Number Column:</label>
                <select class="form-control spe-control" name="partNumberSelect" #partNumber1="ngModel" [(ngModel)]="partNumberField">
                  <option [ngValue]="''" selected>--Select Part Number--</option>
                  <option *ngFor="let x of _partNumbers" [ngValue]="x.Name"><div *ngIf="x.Sheet!=''">Sheet Name: {{x.Sheet}}</div><span *ngIf="x.Name!='Multiple worksheet' && x.Sheet==''">&nbsp;&nbsp;&nbsp;&nbsp;+&nbsp;</span>{{x.Name}}</option>
                </select>
                <input type="hidden" [(ngModel)]="partNumberField" name="partNumberInput" #partNumber="ngModel" class="form-control">
              </div>

              <div *ngIf="showColumn" class="form-group">
                <label>Available Quantity Column:</label>
                <select class="form-control spe-control" name="qtySelect" #qty1="ngModel" [(ngModel)]="qtyField">
                  <option [ngValue]="''" selected>--Select Quantity--</option>
                  <option *ngFor="let x of _partNumbers" [ngValue]="x.Name"><div *ngIf="x.Sheet!=''">Sheet Name: {{x.Sheet}}</div><span *ngIf="x.Name!='Multiple worksheet' && x.Sheet==''">&nbsp;&nbsp;&nbsp;&nbsp;+&nbsp;</span>{{x.Name}}</option>
                </select>
                <input type="hidden" [(ngModel)]="qtyField" name="qtyInput" #qty="ngModel" class="form-control">
              </div>

              <div *ngIf="showColumn" class="form-group">
                <label>MOQ Column:</label>
                <select class="form-control spe-control" name="moqSelect" #qty1="ngModel" [(ngModel)]="moqField">
                  <option [ngValue]="''" selected>--Select MOQ--</option>
                  <option *ngFor="let x of _partNumbers" [ngValue]="x.Name">{{x.Name}}{{x.Sheet}}</option>
                </select>
                <input type="hidden" [(ngModel)]="moqField" name="moqInput" #description="ngModel" class="form-control">
              </div>

              <div  class="form-group">
                <label>Available Date Column:</label>
                <select class="form-control spe-control" name="dateSelect" #date="ngModel" [(ngModel)]="dateField">
                  <option [ngValue]="''" selected>--Select Date--</option>
                  <option *ngFor="let x of _partNumbers" [ngValue]="x.Name">{{x.Name}}{{x.Sheet}}</option>
                </select>
                <input type="hidden" [(ngModel)]="dateField" name="dateInput" #date="ngModel" class="form-control">
              </div>

              <div  class="form-group">
                <label>Price Column:</label>
                <select class="form-control spe-control" name="priceSelect" #pri="ngModel" [(ngModel)]="priceField">
                  <option [ngValue]="''" selected>--Select Price--</option>
                  <option *ngFor="let x of _partNumbers" [ngValue]="x.Name">{{x.Name}}{{x.Sheet}}</option>
                </select>
                <input type="hidden" [(ngModel)]="priceField" name="priceInput" #pric="ngModel" class="form-control">
              </div>

              <div class="form-group">
                <label>Status Column:</label>
                <select class="form-control spe-control" name="statusSelect" #stt="ngModel" [(ngModel)]="statusField">
                  <option [ngValue]="''" selected>--Select Status--</option>
                  <option *ngFor="let x of _partNumbers" [ngValue]="x.Name">{{x.Name}}{{x.Sheet}}</option>
                </select>
                <input type="hidden" [(ngModel)]="statusField" name="statusInput" #stt="ngModel" class="form-control">
              </div>
              <div  class="form-group">
                <label>Manufacturer Column:</label>
                <select class="form-control spe-control" name="manufacturerSelect" #manu="ngModel" [(ngModel)]="manufacturerField">
                  <option [ngValue]="''" selected>--Select manufacturer--</option>
                  <option *ngFor="let x of _partNumbers" [ngValue]="x.Name">{{x.Name}}{{x.Sheet}}</option>
                </select>
                <input type="hidden" [(ngModel)]="manufacturerField" name="manufacturerInput" #manufacturer="ngModel" class="form-control">
              </div>

              <div class="form-group">
                <label>Description Column:</label>
                <select class="form-control spe-control" name="descriptionSelect" #des="ngModel" [(ngModel)]="descriptionField">
                  <option [ngValue]="''" selected>--Select description--</option>
                  <option *ngFor="let x of _partNumbers" [ngValue]="x.Name">{{x.Name}}{{x.Sheet}}</option>
                </select>
                <input type="hidden" [(ngModel)]="descriptionField" name="descriptionInput" #description="ngModel" class="form-control">
              </div>
              <div class="form-group">
                  <label>DateCode Column:</label>
                  <select class="form-control spe-control" name="datecodeSelect" #datecodes="ngModel" [(ngModel)]="dateCodeField">
                    <option [ngValue]="''" selected>--Select dateCode--</option>
                    <option *ngFor="let x of _partNumbers" [ngValue]="x.Name">{{x.Name}}{{x.Sheet}}</option>
                  </select>
                  <input type="hidden" [(ngModel)]="dateCodeField" name="datecodeInput" #datecode="ngModel" class="form-control">
              </div>
              <div class="form-group">
                  <label>Condition Column:</label>
                  <select class="form-control spe-control" name="conditionSelect" #con="ngModel" [(ngModel)]="conditionField">
                    <option [ngValue]="''" selected>--Select condition--</option>
                    <option *ngFor="let x of _partNumbers" [ngValue]="x.Name">{{x.Name}}{{x.Sheet}}</option>
                  </select>
                  <input type="hidden" [(ngModel)]="conditionField" name="conditionInput" #condition="ngModel" class="form-control">
              </div>

              <div  class="form-group">
                <label>Tech Link Column:</label>
                <select class="form-control spe-control" name="descriptionSelect" #date1="ngModel" [(ngModel)]="techLinkField">
                  <option [ngValue]="''" selected>--Select TeckLink--</option>
                  <option *ngFor="let x of _partNumbers" [ngValue]="x.Name">{{x.Name}}{{x.Sheet}}</option>
                </select>
                <input type="hidden" [(ngModel)]="techLinkField" name="techLinkInput" #techlink="ngModel" class="form-control">
              </div>
              <br/>
              <div class="form-group">
                <button  class="btn btn-success" (click) = "loadData()">Upload</button>
                <button type="button" routerLink="/home/seller/addmaterialtext" class="btn btn-danger">Cancel</button>
              </div>             
            </div>
          </div>

          <div *ngIf="showStatus" class="center30">
            <div class="bomstatusfont">
              <img class="imgbomstatus" src="/assets/images/comp_3.gif" height=100px />
              <p class="title"> Upload in progress</p>
              <div>
                <p>
                  <i class="fa fa-check-circle itag"></i>
                  <span class="state"> Uploading BOM</span>
                </p>
                <p>
                  <i class="fa fa-check-circle itag"></i>
                  <span class="state"> Processing BOM</span>
                </p>
                <p>
                  <i class="fa fa-check-circle itag nodisplay"></i>
                  <span class="bomstatus"> Displaying BOM</span>
                </p>
              </div>
            </div>
          </div>

          <div *ngIf="showList" class="x_content" >
            
            <div class = "col-md-12 col-xs-12 col-sm-12">
              
              <h3>Preview Material List</h3>         
              
            <div class = "col-md-12 col-xs-12 col-sm-12 table-responsive">                              
              <table class="table table-bordered noboder material table-striped ">
                <thead>
                  <tr class = "title_materilist">
                    <th >Check</th>
                    <th >Manufacturer Part Number</th>
                    <th >Manufacturers</th>
                    <th>Description</th>                    
                    <th>DateCode</th>
                    <th>Condition</th>
                    <th >Available Quantity</th>
                    <th >MOQ</th>
                    <th >Available Date</th>
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Status&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th >Price</th>
                    <th>In-Stock</th>
                    <th >Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let entity of entitys | slice: (pageIndex * pageSize) - pageSize :pageIndex * pageSize; let i = index " [class.errorAdd] = "!Check(entity, idStock)" tabindex= "-1" (click) = "ChangePrice($event, i)" [hidden] = "(entity | filter: Check : CaseFilter:idStock )">
                    <td><input type= "checkbox" [checked] = "Check(entity, idStock)" [disabled] = "true"/></td>
                    <td tabindex = "-1" (blur) = "RegetInStock(entity)" contenteditable="true" [textContent]="entity.PartNumber" (input)="entity.PartNumber=$event.target.textContent">                      
                    </td>
                    <td contenteditable="true" [textContent]="entity.Manufacturer" (input)="entity.Manufacturer=$event.target.textContent">   
                    </td>
                    <td contenteditable="true" [textContent]="entity.Description" (input)="entity.Description=$event.target.textContent"> 
                    </td>                   
                    <td contenteditable="true" [textContent]="entity.DateCode" (input)="entity.DateCode=$event.target.textContent"> 
                    </td>
                    <td > 
                        <select [ngModel] = "entity.Condition" (ngModelChange) = "SelectChangeConditon($event, entity)" [style.border]="isSelectRow(i) ? 'none' : 'none'" >
                            <option [ngValue] = "0"></option>  
                          <option *ngFor = "let x of ConditionEnum" [ngValue] = "x.Id" >{{x.Name}}</option>
                        </select>
                    </td>
                    <td class="alignNumber" >
                      <span *ngIf = "!isSelectRow(i)" >{{entity.AvailableQty !== null ? (entity.AvailableQty | number) : null }}</span>
                      <input *ngIf = "isSelectRow(i)"type = "text" #availableQty name = "AvailableQty"[ngModel] = "entity.AvailableQty" (ngModelChange) = "entity.AvailableQty = CheckNumber($event)"/>
                    </td>
                    <td class="alignNumber" tabindex="-1" (blur) = "RegetInStock(entity)">
                      <span *ngIf = "!isSelectRow(i)">{{entity.MOQ !== null ? (entity.MOQ | number) : null }}</span>
                      <input *ngIf = "isSelectRow(i)"  type = "text" #moq name = "MOQ" [ngModel] = "entity.MOQ" (ngModelChange) = "entity.MOQ = CheckNumber($event)"/>
                    </td>
                    <td class="alignNumber">             
                      <input type = "text" DisableKeyboard = "true" [value] = "CheckDate(entity.DueDate)" [disabled] = "entity.DueDate == 'Now'" (selected) = "RewriteDate($event, entity)" daterangepicker [options] = "dateOptions" [style.border]="isSelectRow(i) ? 'none' : 'none'"/>
                    </td>
                    <td>
                      <select [ngModel] = "entity.ShippingStatusId" (ngModelChange) = "SelectChange($event, entity)" [style.border]="isSelectRow(i) ? 'none' : 'none'" >
                        <option [ngValue] = "0"></option>
                        <option *ngFor = "let x of ShippingStatus" [ngValue] = "x.Id" >{{x.Name}}</option>
                      </select>
                    </td>
               
                    <td class="alignNumber" tabindex="-1" (blur) = "RegetInStock(entity)">
                      <span *ngIf = "!isSelectRow(i)">{{entity.Price!== null ? (entity.Price | currency: 'USD': true: '.0-4') : entity.Price }}</span>
                      <input type = "number" step = "0.0001"#a name = "Price"[(ngModel)] = "entity.Price" (keyup.enter) = "unhidden()"*ngIf = "isSelectRow(i)"/>
                    </td>
                    
                    <td class="alignNumber">{{entity.InStock !== null ? (entity.InStock | number) : entity.InStock}}</td>                    
                    <td class="buy" valign="top" align="center">
                      <a (click)="RemoveMaterialConfirm(i)"><i class="fa fa-trash"  style="font-size: 16px;" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="!hiddenpaging">
                <pagination [boundaryLinks]="true"  (pageChanged)="pageChanged($event)"  [itemsPerPage]="pageSize" [totalItems]="totalRow1" [maxSize] = "pageDisplay" [(ngModel)]="pageIndex" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
              </div>
              <div *ngIf= "showConfirm && showList" class= "col-md-2 col-xs-12 col-sm-12">
                  <button class = "btn btn-info btn-infos"  (click) = "UpLoadConfirm()">Upload</button>
              </div>
            </div>
              
            </div>
            
            <!-- <div class = "col-md-2 col-xs-12 col-sm-12 fixchar">
               
                  <div class= "row box80">
                    <div style="display: block; margin-bottom: 5px; " class="col-md-12 nopadding" >
                      <canvas baseChart width="100%" height="100%"
                      [data]="ChartData"
                      [labels]="ChartLabels"
                      [colors]="ChartColors"
                      [options]="Chartoptions"
                      [chartType]="ChartType"
                      (chartClick)="chartClicked($event)"></canvas>
                    </div>
                  </div>
                  <div class = "row font11">
                    <div class="col-md-12 col-sm-12 col-xs-12 nopadding " *ngIf = "CaseFilter == 'DQTY' || CaseFilter == '' || CaseFilter == undefined ">
                      <div class = "col-md-9 col-sm-8 col-xs-8">
                        <label class = "diffQty" (click) = "Filter('DQTY')">Duplicate with diff quantity :</label>
                      </div>
                      <div class="col-md-3 col-sm-4 col-xs-4">
                        <label class="control-label btn-new-boms">{{duplicateDiffQty}}</label>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 nopadding" *ngIf = "CaseFilter == 'ERROR' || CaseFilter == '' || CaseFilter == undefined">
                      <div class = "col-md-9 col-sm-8 col-xs-8">
                        <label class = "misingpartnumber"(click) = "Filter('ERROR')">Part number with missing info: </label>
                      </div>
                      <div class="col-md-3 col-sm-4 col-xs-4">                        
                        <label class="control-label btn-new-boms">{{missInfor}}</label>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 nopadding" *ngIf = "CaseFilter == 'NEW' || CaseFilter == '' || CaseFilter == undefined">
                      <div class = "col-md-9 col-sm-8 col-xs-8">
                        <label class = "newpartnumber"(click) = "Filter('NEW')">New part number: </label>
                      </div>
                      <div class="col-md-3 col-sm-4 col-xs-4">                        
                        <label class="control-label btn-new-boms">{{newPartNumber}}</label>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 nopadding" *ngIf = "CaseFilter == 'DALL' || CaseFilter == '' || CaseFilter == undefined">
                      <div class = "col-md-9 col-sm-8 col-xs-8">
                        <label class = "duppartnumber"(click) = "Filter('DALL')">Duplicating Part Number:</label>
                      </div>
                      <div class="col-md-3 col-sm-4 col-xs-4">                       
                        <label class="control-label btn-new-boms">{{duplicateAll}}</label>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 nopadding" *ngIf = "CaseFilter == 'OTHER' || CaseFilter == '' || CaseFilter == undefined">
                      <div class = "col-md-9 col-sm-8 col-xs-8">
                        <label class = "othererror"(click) = "Filter('OTHER')">Other errors:</label>
                      </div>
                      <div class="col-md-3 col-sm-4 col-xs-4">                       
                        <label class="control-label btn-new-boms">{{otherErrors}}</label>
                      </div>
                    </div>
                    <div class = "col-md-12 col-sm-12 col-xs-12 nopadding" *ngIf = "CaseFilter == 'OTHER' || CaseFilter == 'DALL' || CaseFilter == 'NEW' || CaseFilter == 'ERROR' || CaseFilter == 'DQTY'">
                      <div class = "col-md-9 col-sm-8 col-xs-12">
                        <label (click) = "Filter('')" >Expand All</label>
                      </div>
                    </div>
                  </div>                   
                  <div class = "row font11">
                    <div class="title_left font11">
                        <h5 style = "padding-left: 10px">Current Inventory</h5>
                    </div>
                    
                    <div>
                      <label class="control-label col-md-8 col-sm-4 col-xs-12 diffQty">0 - 30 Days : </label>
                      <div class="col-md-4 col-sm-8 col-xs-12">                        
                        <label class="control-label btn-new-boms">{{currentInventory?.Less30Day}}</label>
                      </div>
                                        
                      <label class="control-label col-md-8 col-sm-4 col-xs-12 misingpartnumber" >31 - 60 Days: </label>
                      <div class="col-md-4 col-sm-8 col-xs-12">                       
                        <label class="control-label btn-new-boms">{{currentInventory?.From30To60Day}}</label>
                      </div>
                                       
                      <label class="control-label col-md-8 col-sm-4 col-xs-12 newpartnumber">61 - 120 Days : </label>
                      <div class="col-md-4 col-sm-8 col-xs-12">                   
                        <label class="control-label btn-new-boms">{{currentInventory?.From60To120Day}}</label>
                      </div>
                                        
                      <label class="control-label col-md-8 col-sm-4 col-xs-12 duppartnumber"> > 120 Days : </label>
                      <div class="col-md-4 col-sm-8 col-xs-12">                       
                        <label class="control-label btn-new-boms">{{currentInventory?.To120Day}}</label>
                      </div>
                    
                    </div>
                  </div>
                  <div class="row box80">
                    <div style="display: block;margin-bottom:2px " class="col-md-12 nopadding" >
                      <canvas baseChart width="100%" height="100%"
                      [data]="ChartDataDay"
                      [labels]="ChartLabelsDay"
                      [colors]="ChartColorsDay"
                      [options]="ChartoptionsDay"
                      [chartType]="ChartTypeDay"></canvas>
                    </div>
                  </div>
               
            </div> -->
                        
          </div>  
                                        
        </div>
        
      </div>
    </div>
  </div>
</div>
