<div class="col-md-12 col-sm-12 col-xs-12 " >
    <div class="center" style="width: 70%;">
        <div class="x_panel" style="padding: 5px;">
            <!-- <img src="/assets/images/materialdetail.jpg"/> -->
            <div class="col-md-4" style="border:1px solid #ddd; background-color:#eeeeee; padding: 8px;">
                <div style="border:1px solid #ddd; background-color:#fff;">
                    <img style="max-width:100%;" src='{{base64textString}}'>
                </div>
            </div>
            <div class="col-md-8">
                <table class="table table-bordered table-striped nopadding">
                    <tr>
                        <td colspan="2">
                            <h4>Product Overview</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Part Number</b>
                        </td>
                        <td>
                            {{MaterialDetail?.PartNumber}}
                        </td>
                    </tr>
                     <tr>
                        <td>
                            <b>Description</b>
                        </td>
                        <td>
                            {{MaterialDetail?.Description}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Manufacturer</b>
                        </td>
                        <td>
                            {{MaterialDetail?.Manufacturer}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" *ngIf="(MaterialDetail?.TechLink)">
                            <a  href="{{!(MaterialDetail?.TechLink) ? '#' : MaterialDetail?.TechLink}}"><u><span class="fa fa-angle-double-right"></span> Tecknical Link</u></a>
                        </td>
                        <td colspan="2" *ngIf="!(MaterialDetail?.TechLink)">
                            <u><span class="fa fa-angle-double-right"></span> Tecknical Link</u>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align:right;">
                            <button type="button" class="browser margintotal" id="Back" (click)="BackToLastPage()">Back</button>
                        </td>
                    </tr>
                </table>
            </div>
           
        </div>
    </div>
</div>
  
<div class="clearfix"></div>
