<div class="row text-center" style="padding-top:10px;">
  <div class="col-md-12">
    <div
      class="col-md-2 headerbuton"
      mwlCalendarPreviousView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="fetchEvents(viewDate)">
      <i class="fa fa-backward"></i>
    </div>
    <div class="col-md-8">
      <h4 style="font-weight: bold;font-size:20px;">{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h4>
    </div>
    <div
      class="col-md-2 headerbuton"
      mwlCalendarNextView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="fetchEvents(viewDate)">
      <i class="fa fa-forward"></i>
    </div>
  </div>
</div>

<ng-template #customCellTemplate let-day="day" let-event="event" let-locale="locale">
  <div class="cal-cell-top">
    <span class="cal-day-number" [ngClass]="{'cal-color-white':day.backgroundColor === '#ec4848'}">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
  </div>
</ng-template>

<ng-template #loading>
  <div class="text-center">
    <i class="fa fa-spin fa-spinner fa-5x"></i>
    <br>
    Loading data...
  </div>
</ng-template>

<div *ngIf="isLoading$ | async; else loading; let isLoading">
  <mwl-calendar-month-view
    [viewDate]="viewDate"
    [events]="data_calendar"
    [activeDayIsOpen]="false"
    (dayClicked)="dayClicked($event.day)"
    [cellTemplate]="customCellTemplate"
    (beforeViewRender)="beforeMonthViewRender($event)">
  </mwl-calendar-month-view>
</div>