<div class="row margintotal">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel noboder">
      <div class="title_left" style="color:#73879C; padding-left: 10px;">
        <h4>Seller Order Management {{titleByDelivery}}</h4>
      </div>
      <div class="x_content">
        <div class="tab-content">
          <div id="order" class="tab-pane in active">
            <table class="table table-bordered table-hover noboder">
              <thead>
                <tr class="title_materilist">
                  <th>Order Number</th>
                  <th>Manufacturer Part Number</th>
                  <th>Quantity</th>
                  <th>MOQ</th>
                  <th>Available Quantity</th>
                  <th>Price</th>
                  <th>Amount</th>
                  <th>Shipping Method</th>
                  <th>Delivery Status</th>
                  <th>Order Status</th>
                  <th style="width: 10%"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="isLoading">
                  <td colspan="8" >
                        <i class="fa fa-spin fa-spinner fa-5x"></i>
                        Loading data...
                  </td>
                </tr>
                <tr *ngFor="let item of entityDetails; let indexRow = index" [class.odd]="IsOdd(item.iIndex)" [class.even] = "!IsOdd(item.iIndex)" >
                  <td>{{item.OrderNumber}}</td>
                  <td><a class = "linkpart" routerLink="/home/materialdetail/{{item.MaterialId}}">{{item.PartNumber}}</a></td>
                  <td>{{item.Quantity | number}}</td>
                  <td>{{item.MOQ | number}}</td>
                  <td>{{item.AvailableQty | number}}</td>
                  <td class="alignNumber">{{item.UnitPrice | currency: 'USD':'symbol-narrow':'.0-4'}}</td>
                  <td class="alignNumber">{{item.ExtendedPrice | currency: 'USD':'symbol-narrow':'.0-2'}}</td>
                  <td>{{item.ShippingMethodName}}</td>
                  <!-- <td>{{item.DeliveryStatusesName}}</td> -->
                  <td>
                    <select class="form-control" name="DeliveryStatus" [(ngModel)]="item.DeliveryStatusId" (ngModelChange)="DeliveryStatusChange($event, item)">
                      <option *ngFor="let x of listdelivery" [value]="x.Id">{{x.Name}}</option>
                    </select>
                  </td>
                  <td>{{item.OrderStatusesName}}</td>
                  <td style="width: 10%">
                    <button class="btn btn-info" [disabled]="item.OrderStatusesName == 'Cancelled' || item.DeliveryStatusCode == 'OTW'" (click)="CancelItem(item.Id, item.OrderId)">
                      Cancel
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
        <div class="col-md-12 nopadding" *ngIf="totalRow > pageSize ? true:false">
          <pagination [boundaryLinks]="true" (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" [totalItems]="totalRow" [maxSize] = "pageDisplay"
           [(ngModel)]="pageIndex" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>