 <div class="col-md-12 col-xs-12 col-sm-12">
    <div class = "x_panel panel-default ">
      <div style="padding-top:5px;">
        <!-- start title -->
        <div  class = "col-md-2 col-sm-6 col-xs-12 pointer">
          <div class="header-title">
            <span class="title-seller">
              Seller Dashboard
            </span>
          </div>
        </div>
        <!-- start button ready to ship -->
        <div class = "col-md-2 col-sm-6 col-xs-12 pointer" (click)= "FilterOrder('DEF')">
          <div class ="panels panel-prepared button-ready-to-ship">
            <div class = "panel-header" style = "padding-top:0px">
              <div class="button-header"><i class= "fa fa-play"></i> ({{orderStatistics?.PrepareToShip}}) Ready to Ship</div>
            </div>
          </div>             
        </div>
        <!-- start button In Transit -->
        <div class = "col-md-2 col-sm-6 col-xs-12 pointer" (click) = "FilterOrder('OTW')">
          <div class = "panels panel-ontheway button-in-transit">
            <div class = "panel-header " style = "padding-top:0px">
                <div class="button-header"><img src="/assets/images/icon-car.png"/> ({{orderStatistics?.OnTheWay}}) In Transit</div>
            </div>
          </div>
        </div>
        <!-- start button Delivered -->
        <div class = "col-md-2 col-sm-6 col-xs-12 pointer" (click) = "FilterTransaction('FIN')">
          <div class = "panels panel-delivered button-delivered">
            <div class = "panel-header" style = "padding-top:0px">
              <div class="button-header"><i class= "fa fa-thumbs-up"></i> ({{orderStatistics?.Delivered}}) Delivered</div>
            </div>
          </div>
        </div>
        <!-- start button Cancelled -->
        <div class = "col-md-2 col-sm-6 col-xs-12 pointer"  (click) = "FilterTransaction('CAN')">
          <div class = "panels panel-cancelled button-cancel">
            <div class = "panel-header" style = "padding-top:0px">
              <div class= "button-header"><img src="/assets/images/icon-cancel.png" /> ({{orderStatistics?.Cancelled}}) Cancelled</div>
            </div>
          </div>
        </div>
        <!-- start button Mail -->
        <div class = "col-md-2 col-sm-6 col-xs-12 pointer" routerLink= "/home/underconstruction">
          <div class = "panels panel-cancelled button-mail">
            <div class = "panel-header" style = "padding-top:0px">
                <div class= "button-header"><img src="/assets/images/icon-mail.png"/> (0) Mail</div>
            </div>
          </div>
        </div>
        <div class = "clearfix"></div>
      </div>
      <div style=" display:flex">
        <div class = "col-md-8 col-sm-6 col-xs-12" style="padding: 0 5px 0 0; display:grid;" *ngIf="LineChartData">
          <div class="panels panel-default whitecolor">
              <canvas baseChart height ="80%"
              [datasets]="LineChartData"
              [labels]="LineChartLabels"
              [options]="LineChartOptions"
              [colors]="LineChartColors"
              [chartType]="LineChartType"></canvas>
          </div>
        </div>
        <div class = "col-md-2 col-sm-6 col-xs-12" style="display:grid; padding: 0 12px 0 10px;">
          <div class= "panels panel-default whitecolor">
            <div class = "panel-header tran" style="text-align:center; "><h4 style="font-weight: bold;font-size:20px;padding-top:10px;">Transaction MTD</h4></div>
            <div class = "panel-body" style="display:inline;">
                <div class = "list-group">
                  <div>
                      Sold number
                  </div>
                  <div class = "ml-auto text-statistics">{{orderStatistics?.TotalSold | number}}</div>
                </div>
                <div class = "list-group">
                  <div>
                    Total Sales
                  </div>            
                  <div class = "ml-auto text-statistics">{{orderStatistics?.TotalSales | currency: 'USD':'symbol-narrow':'.0-6'}}</div>                  
                </div>
                <div class = "list-group">
                  <div>
                    Total Fees
                  </div>
                  <div class = "ml-auto text-statistics">{{orderStatistics?.TotalFees | currency: 'USD':'symbol-narrow':'.0-6'}}</div>                 
                </div>
              </div>
          </div>
        </div>
        <!-- calendar envent view -->
        <div class="col-md-2 col-sm-6 col-xs-12 " style="display:grid; padding:0 0 0 3px; margin:0;">
          <div class="whitecolor panels">
              <!-- <img src="/assets/images/calendar.jpg" style="width:100%" /> -->
            <mwl-calendar-seller>Loading ...</mwl-calendar-seller>
          </div>
        </div>
        <div class = "clearfix"></div>
      </div>
    <!-- seller footer chart button add inventory order manager -->
    <div class="seller-footer">
      <div class = "col-md-2 col-sm-3 col-xs-12 nopadding" style="display:grid">
        <div class= "box70 chart-dashboard whitecolor" style="float:right; margin: 10px 0 0 0;">
          <canvas baseChart width="100%" height="100%"
              [data]="ChartDataDay"
              [labels]="ChartLabelsDay"
              [chartType]="ChartTypeDay"
              [colors]="ChartColorsDay"
              [options]="ChartOptionsDay"></canvas>
        </div>
      </div>
      <div class="col-md-8 col-sm-6 col-xs-12 nopadding" style="display:grid">
        <div class="center-button whitecolor">
          <div class = "width20" >
            <div (click) = "GoToAddMaterial()" class="over-btn-blue">
                <div class="btn-blue">
                    <div class="inside-blue">
                      <i class="icon-fontello icon-add-new-inventory">&#xe802;</i>
                    </div>
                </div>
            </div>
            <div class="tilte-button">
              <span>
                Add New Inverntory
              </span>
            </div>
          </div>
          <div class = "width20" >
            <div (click) = "GoToOrder()" class = "over-btn-blue">
                <div class="btn-blue">
                  <div class="inside-blue">
                    <i class="icon-fontello icon-order-manager">&#xe800;</i>
                  </div>
                </div>
            </div>
            <div class="tilte-button">
              <span>
                  Order Management
              </span>
            </div>
          </div>
          <div class = "width20" >
            <div (click) = "GoToInventory()"class = "over-btn-blue">
                <div class="btn-blue">
                  <div class="inside-blue">
                    <i class="icon-fontello icon-inventory" style="font-size:40px;">&#xe803;</i>
                  </div>
                </div>
            </div>
            <div class="tilte-button">
              <span>
                  Inventory Management
              </span>
            </div>
          </div>
          <div class = "width20" >
            <div (click) = "GoToTransaction()" class = "over-btn-blue">
                <div class="btn-blue">
                    <div class="inside-blue">
                        <i class="icon-fontello icon-transaction-history">&#xe804;</i>
                    </div>
                  </div>
            </div>
            <div class="tilte-button">
                <span>
                    Transaction History
                </span>
              </div>
          </div>
        </div>
      </div>
      <div class = "col-md-2 col-sm-3 col-xs-12 nopadding"  style="display:grid">
        <div class = "box70 chart-dashboard whitecolor" style="margin: 10px 0 0 0;">
          <canvas baseChart width="100%" height="100%"
              [data]="ChartDataStatusInvent"
              [labels]="ChartLabelsStatusInvent"
              [chartType]="ChartTypeStatusInvent"
              [colors]="ChartColorsStatusInven"
              [options]="ChartOptionsStatusInvent"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>