.center-button{
    display: flex;
    box-shadow: 0px 0px 10px #888888;
    margin: 10px 15px 0 10px;
    padding: calc(2%) 0;
}

.over-btn-blue {
    content: "";
    top: 50%;
}

.btn-blue {
    content: "";
    display: inline-block;
    background: #fff;
    border-top: 2px solid #ddd;
    border-radius: 50%;
    box-shadow: inset 0px 8px 48px #ddd;
}

  .inside-blue{
    display: inline-block;
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
    color: #a7a7a7;
    margin: 14px;
    width: 120px;
    height: 120px;
    position: relative;
    text-align: center;
    line-height: 120px;
    border-radius: 50%;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
    cursor: pointer;
  }

.title-seller {
    font-size: 35px;
    color: #322e2e;
    line-height: 48px;
    font-family: "Impact";
}

.header-title {
    margin: 10px 10px 0 20px;
}

.button-header{
    line-height: 55px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.button-header i {
    font-size:40px;
    vertical-align: middle;
}

.button-ready-to-ship, .button-in-transit, .button-delivered, .button-cancel, .button-mail {
    border-radius: 8px;
}

.button-ready-to-ship{
    background: url(/assets/images/button-ready-to-ship.jpg) repeat-x;
}

.button-in-transit{
    background: url(/assets/images/button-in-transit.jpg) repeat-x;
}

.button-delivered{
    background: url(/assets/images/button-delivered.jpg) repeat-x;
}

.button-cancel{
    background: url(/assets/images/button-cancel.jpg) repeat-x;
}

.button-mail{
    background: url(/assets/images/button-mail.jpg) repeat-x;
}

.width20 .tilte-button {
    padding: 13px 0;
}

.seller-footer {
    padding: 5px 0;
    display: flex;
}

.btn-blue:hover, .btn-blue i:hover {
    color: #0432FF;
}



.icon-fontello
{
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
}