<div class="page-title">
  <!-- <div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
      <div class="input-group">
        <input type="text" class="form-control" name="filter" (keyup.enter)="loadData()" [(ngModel)]="filter" placeholder="Search...">
        <span class="input-group-btn">
          <button class="btn btn-default" (click)="loadData()" type="button">Go</button>
        </span>
      </div>
    </div>
  </div> -->
</div>
<div class="clearfix"></div>
<div class="row margintotal">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <!-- <div class="x_title">
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <button class="btn btn-success" (click)="showAddModal()">Add new</button>
          </li>

        </ul>
        <div class="clearfix"></div>
      </div> -->
      <div class="x_content" style="overflow: auto;">
        <div class="title_left">
          <h3 style = "font-weight: bold; font-size: 150%">Materials Display</h3>
        </div>
        <div class="select-action">
          <h4 style = "font-weight: bold; color:#5F5F5F">Items are found</h4>
        </div>
        <!--end .select-action-->
        
        <table class="table table-bordered material noboder">
          <thead>
            <tr class = "title_materilist">
              <th>No</th>
              <th>Manufacturer Part Number</th>
              <th>Description</th>
              <th >Manufacturer</th>
              <th>Condition</th>
              <th>DateCode</th>
              <th>Seller ID</th>
              <th class = "nowrap">&nbsp;&nbsp;&nbsp;MOQ&nbsp; &nbsp;&nbsp;</th>
              <th>Available Quantity</th>
              <th>Request Quantity</th>
              <th>Availability</th>
              <th>Status</th>
              <th>&nbsp;&nbsp;&nbsp;Price&nbsp;&nbsp;&nbsp;</th>
              <th>Extended Price</th>
              <th>Buy</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="isLoading">
              <td colspan="14" >
                    <i class="fa fa-spin fa-spinner fa-5x"></i>
                    Loading data...
              </td>
            </tr>
            <ng-container *ngFor="let materiallist of materialGroup | slice: (pageIndex * pageSize) - pageSize :pageIndex * pageSize ; let i = index" [class.hightlight]="isSelectRow(i) || addCartEvent(materiallist.Id)">
             
              <tr [class.odd] = "IsOdd(i)" [class.even] = "!IsOdd(i)" >
                <td align="center" valign="middle">
                  {{i+1}}
                </td>
                <td ><a class = "linkpart" routerLink= "/home/materialdetail/{{materiallist.Material.Id}}">{{materiallist.Material.PartNumber}}</a></td>
                <td >{{materiallist.Material.Description}}</td>
                <td >{{materiallist.Material.Manufacturer}}</td>
                <td>{{materiallist.ConditionName}}</td>
                <td>{{materiallist.DateCode}}</td>
                <td class = "pointer" ><span>{{materiallist.AppUser.UserName}}<i (click)  = "materiallist.IsDrop = showDetail(materiallist)" *ngIf = "isMultiSeller(materiallist.IsMultiSeller)" style="float: right" class="fa" [ngClass] = "{'fa-sort-desc': materiallist.IsDrop, 'fa-sort-asc': !materiallist.IsDrop}" aria-hidden="true"> </i></span></td>
                <td  class= "alignNumber">{{materiallist.MOQ | number}}</td>
                <td  class= "alignNumber">{{materiallist.AvailableQty | number}}</td>
                <td class="alignNumber"  (click) = "ChangeIndex(i)" [class.hightlighterror]="materiallist.RequestQty > materiallist.AvailableQty">
                  <span *ngIf = "!isSelectRow(i)">{{CheckNumber(materiallist.RequestQty) ? (materiallist.RequestQty | number) : null }}</span>
                  <input style= "text-align: inherit; width: 100%" type = "number" #a name = "Quantity" [ngModel] = "materiallist.RequestQty" (input) = "ChangeRequestQty($event, materiallist)" *ngIf = "isSelectRow(i)"/>
                </td>
                <td>{{isOldDate(materiallist.DueDate) ? "Now" : formatDate(materiallist.DueDate)}}</td>
                <td class= "alignNumber">{{materiallist.ShippingStatus.Name}}</td>
                <td  class= "alignNumber">{{materiallist.Price | currency: 'USD':true:'.0-4'}}</td>
                <td  class= "alignNumber">{{materiallist.Price*materiallist.RequestQty | currency : 'USD': true: '.0-2'}}</td>
                
                <td class="buy nowrap cart" valign="top" align="center">
                  <button type="button" class="browser margintotal" id="" (click) = "AddToCart(materiallist)" [disabled] = "materiallist.AvailableQty == 0">Add To Cart</button>
                </td>  
                
              </tr>
              <tr [class.odd] = "IsOdd(i)" [class.even] = "!IsOdd(i)"[hidden] = "materiallist.IsDrop" *ngFor= "let expand of expands ; let index_expand = index" >
                <td></td>
                <td><a class = "linkpart"routerLink= "/home/materialdetail/{{expand.Material.Id}}">{{expand.Material.PartNumber}}</a></td>
                <td>{{expand.Material.Description}}</td>
                <td>{{expand.Material.Manufacturer}}</td>
                <td>{{materiallist.ConditionName}}</td>
                <td>{{materiallist.DateCode}}</td>
                <td>{{expand.AppUser.UserName}}</td>
                <td class="alignNumber">{{expand.MOQ | number}}</td>
                <td class="alignNumber">{{expand.AvailableQty | number}}</td>
                <td class="alignNumber"  (click) = "ChangeIndexExpand(index_expand)" [class.hightlighterror]="expand.RequestQty > expand.AvailableQty">
                  <span *ngIf = "!isSelectExpand(index_expand)">{{CheckNumber(expand.RequestQty) ? (expand.RequestQty | number) : null }}</span>
                  <input style= "text-align: inherit; width: 100%" type = "number" #a name = "Price"[(ngModel)] = "expand.RequestQty"*ngIf = "isSelectExpand(index_expand)"/>
                </td>
                <td>{{isOldDate(expand.DueDate) ? "Now" : formatDate(expand.DueDate)}}</td>
                <td>{{expand.ShippingStatus.Name}}</td>
                <td class="alignNumber">{{expand.Price | currency: 'USD':true:'.0-4'}}</td>
                <td class="alignNumber">{{expand.Price*expand.RequestQty | currency : 'USD': true: '.0-2'}}</td>            
                
                <td class="buy cart" valign="top" align="center">
                  <button type="button" class="browser margintotal" style="display: inline-block;white-space: pre" (click)="addToCart(expand.Id,expand.PartNumber,expand.MaterialListId,expand.RequestQty, expand.AvailableQty, expand.MOQ,expand.Price,expand.Price*expand.RequestQty)" [disabled] = "expand.AvailableQty == 0">Add To Cart</button>
                </td>
                
              </tr>
            </ng-container>
          </tbody>
        </table>
      
        <div class="col-md-12">
          <pagination [boundaryLinks]="true" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)" [totalItems]="totalRow" *ngIf="!hiddenpaging"
            [(ngModel)]="pageIndex" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Modal add and edit-->
<div bsModal #modalAddEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Edit</h4>
                <button type="button" class="close pull-right" (click)="modalAddEdit.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-label-left" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm.valid)"
                    *ngIf="entity">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Requested Quantity</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="input-group">
                                <input type="text" pattern = "[0-9]+" required #requestedqy="ngModel" [(ngModel)]="RequestQty" name="requestedqy"
                                    class="form-control">
                            </div>
                            <div *ngIf="!requestedqy.valid" class="alert alert-danger">
                              <div *ngIf="requestedqy.errors.required && requestedqy.touched">RequestQty is required</div>
                              <div *ngIf="requestedqy.errors.pattern">
                                  RequestQty must be a number
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-success">Accept</button>
                            <button type="button" (click)="hideAddEdit()" class="btn btn-primary">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>