<div class="clearfix"></div>
<div class="row margintotal">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel" >

      <div class="x_content" style="overflow: auto;">
        <div class="title_left">

          <div  class="center30" [ngClass]="{displayupload:showUpload,hideupload:hideUpload}">
            <h3 class="h3bom">Upload Materials</h3>
            <div class="select-action">


              <label class="labelbom">Select file to upload</label>
              <form class="form-horizontal form-label-left" novalidate #addEditForm="ngForm"  (ngSubmit)="checkValidFile(addEditForm)">
                <div class="form-group">


                  <input type="file" #excelFile name="file" (change)="hideColumn()" class="form-control noboder nopadding" style="box-shadow: none">
                  <!--<p class="help-block label label-danger"> Only support *.xls, *.xlsx, *.csv</p>-->
                  <!-- <input type="hidden" [(ngModel)]="entity.File" name="fileUrl" /> -->
                </div>
                <div *ngIf="showColumn">
                  <div class="form-group">
                    <label>Part Number Column:</label>
                    <select class="form-control spe-control" name="partNumberSelect" #partNumber1="ngModel" [(ngModel)]="partNumberField">
                      <option [ngValue]="undefined" selected>--Select Part Number--</option>
                      <option *ngFor="let x of _partNumbers" [ngValue]="x.Name"><div *ngIf="x.Sheet!=''">Sheet Name: {{x.Sheet}}</div><span *ngIf="x.Name!='Multiple worksheet' && x.Sheet==''">&nbsp;&nbsp;&nbsp;&nbsp;+&nbsp;</span>{{x.Name}}</option>
                    </select>
                    <input type="hidden" [(ngModel)]="partNumberField" name="partNumberInput" #partNumber="ngModel" class="form-control">
                  </div>

                  <div *ngIf="showColumn" class="form-group">
                    <label>Available Quantity Column:</label>
                    <select class="form-control spe-control" name="qtySelect" #qty1="ngModel" [(ngModel)]="qtyField">
                      <option [ngValue]="undefined" selected>--Select Quantity--</option>
                      <option *ngFor="let x of _partNumbers" [ngValue]="x.Name"><div *ngIf="x.Sheet!=''">Sheet Name: {{x.Sheet}}</div><span *ngIf="x.Name!='Multiple worksheet' && x.Sheet==''">&nbsp;&nbsp;&nbsp;&nbsp;+&nbsp;</span>{{x.Name}}</option>
                    </select>
                    <input type="hidden" [(ngModel)]="qtyField" name="qtyInput" #qty="ngModel" class="form-control">
                  </div>

                  <div *ngIf="showColumn" class="form-group">
                    <label>MOQ Column:</label>
                    <select class="form-control spe-control" name="moqSelect" #qty1="ngModel" [(ngModel)]="moqField">
                      <option [ngValue]="undefined" selected>--Select Description--</option>
                      <option *ngFor="let x of _partNumbers" [ngValue]="x.Name">{{x.Name}}{{x.Sheet}}</option>
                    </select>
                    <input type="hidden" [(ngModel)]="moqField" name="moqInput" #description="ngModel" class="form-control">
                  </div>

                  <div *ngIf="showColumn" class="form-group">
                    <label>Available Date Column:</label>
                    <select class="form-control spe-control" name="dateSelect" #manufacturer1="ngModel" [(ngModel)]="dateField">
                      <option [ngValue]="undefined" selected>--Select Manufacturer--</option>
                      <option *ngFor="let x of _partNumbers" [ngValue]="x.Name">{{x.Name}}{{x.Sheet}}</option>
                    </select>
                    <input type="hidden" [(ngModel)]="dateField" name="dateInput" #manufacturer="ngModel" class="form-control">
                  </div>

                  <div *ngIf="showColumn" class="form-group">
                    <label>Price Column:</label>
                    <select class="form-control spe-control" name="priceSelect" #date1="ngModel" [(ngModel)]="priceField">
                      <option [ngValue]="undefined" selected>--Select Date--</option>
                      <option *ngFor="let x of _partNumbers" [ngValue]="x.Name">{{x.Name}}{{x.Sheet}}</option>
                    </select>
                    <input type="hidden" [(ngModel)]="priceField" name="priceInput" #date="ngModel" class="form-control">
                  </div>

                  <div *ngIf="showColumn" class="form-group">
                    <label>Status Column:</label>
                    <select class="form-control spe-control" name="statusSelect" #date1="ngModel" [(ngModel)]="statusField">
                      <option [ngValue]="undefined" selected>--Select Date--</option>
                      <option *ngFor="let x of _partNumbers" [ngValue]="x.Name">{{x.Name}}{{x.Sheet}}</option>
                    </select>
                    <input type="hidden" [(ngModel)]="statusField" name="statusInput" #date="ngModel" class="form-control">
                  </div>
                  <div *ngIf="showColumn" class="form-group">
                    <label>Manufacturer Column:</label>
                    <select class="form-control spe-control" name="manufacturerSelect" #date1="ngModel" [(ngModel)]="manufacturerField">
                      <option [ngValue]="undefined" selected>--Select Date--</option>
                      <option *ngFor="let x of _partNumbers" [ngValue]="x.Name">{{x.Name}}{{x.Sheet}}</option>
                    </select>
                    <input type="hidden" [(ngModel)]="manufacturerField" name="manufacturerInput" #manufacturer="ngModel" class="form-control">
                  </div>

                  <div *ngIf="showColumn" class="form-group">
                    <label>Description Column:</label>
                    <select class="form-control spe-control" name="descriptionSelect" #date1="ngModel" [(ngModel)]="descriptionField">
                      <option [ngValue]="undefined" selected>--Select Date--</option>
                      <option *ngFor="let x of _partNumbers" [ngValue]="x.Name">{{x.Name}}{{x.Sheet}}</option>
                    </select>
                    <input type="hidden" [(ngModel)]="descriptionField" name="descriptionInput" #description="ngModel" class="form-control">
                  </div>

                  <div *ngIf="showColumn" class="form-group">
                    <label>Tech Link Column:</label>
                    <select class="form-control spe-control" name="descriptionSelect" #date1="ngModel" [(ngModel)]="techLinkField">
                      <option [ngValue]="undefined" selected>--Select Date--</option>
                      <option *ngFor="let x of _partNumbers" [ngValue]="x.Name">{{x.Name}}{{x.Sheet}}</option>
                    </select>
                    <input type="hidden" [(ngModel)]="techLinkField" name="techLinkInput" #techlink="ngModel" class="form-control">
                  </div>

                </div>
                <br/>

                <div class="form-group">
                  <button type="submit" class="btn btn-success" [disabled]="!addEditForm.form.valid || loading">Upload</button>
                  <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                  />
                  <button type="button" routerLink="/home/index" class="btn btn-danger">Cancel</button>
                </div>
              </form>
            </div>
          </div>

          <div *ngIf="showStatus" class="center30">
            <div class="bomstatusfont">
              <img class="imgbomstatus" src="/assets/images/comp_3.gif" height=100px />
              <p class="title"> Upload in progress</p>
              <div>
                <p>
                  <i class="fa fa-check-circle itag"></i>
                  <span class="state"> Uploading Materials</span>
                </p>
                <p>
                  <i class="fa fa-check-circle itag"></i>
                  <span class="state"> Processing Materials</span>
                </p>
                <p>
                  <i class="fa fa-check-circle itag nodisplay"></i>
                  <span class="bomstatus"> Displaying Material</span>
                </p>
              </div>
            </div>
          </div>

          <div *ngIf="showList" class="x_content" style="overflow: auto;">
            <h3>Preview Material List</h3>
            <div class="select-action margintotal">

            </div>
         
            <div class="form-group">
              <label>Select Sheet:</label>
              <select class="form-control" style="width:30%;"  name="sheet1" #sheet1="ngModel" [(ngModel)]="selectedsheet" (ngModelChange)="onSheetChange($event)">
                <option [ngValue]="undefined" selected>--Select Sheet--</option>
                <option *ngFor="let x of _sheets" [ngValue]="x">{{x}}</option>
              </select>
              <input type="hidden" [(ngModel)]="selectedsheet" name="sheet" #sheet="ngModel" class="form-control">
            </div>
            <div *ngIf ="showConfirm"> <!-- nếu login-->
            
              <div style = "overflow:auto;">
                <table class="table table-bordered noboder material table-striped ">
                  <thead>
                    <tr class = "title_materilist">
                      <th >Check</th>
                      <th >Part Number</th>
                      <th >Manufacturers</th>
                      <th >Available Qty</th>
                      <th >MOQ</th>
                      <th >Available Date</th>
                      <th >Status</th>
                      <th >Price</th>
                      <th >Extended Price</th>
                      <th >Status for search</th>
                      <th >Upload image</th>
                      <th >Tech link</th>
                      <th >Remove</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let entity of entitys | slice: (pageIndex * pageSize) - pageSize :pageIndex * pageSize; let i = index " [class.errorAdd] = "!Check(entity)">
                      <td><input type= "checkbox" [checked] = "Check(entity)" [disabled] = "true"/></td>
                      <td contenteditable='true' [textContent]="entity.PartNumber" (input)="entity.PartNumber = $event.target.textContent">{{entity.PartNumber}}</td>
                      <td contenteditable='true' [textContent]="entity.Manufacturer" (input)="entity.Manufacturer = $event.target.textContent">{{entity.Manufacturer}}</td>
                      <td class="alignNumber" contenteditable='true' [textContent]="entity.AvailableQty !== '' ? (entity.AvailableQty | number) : ''" (input)="entity.AvailableQty = RewriteNumber($event.target.textContent)"></td>
                      <td class="alignNumber" contenteditable='true' [textContent]="entity.MOQ !== '' ? (entity.MOQ | number) : entity.MOQ" (input)="entity.MOQ = RewriteNumber($event.target.textContent)"></td>
                      <td class="alignNumber"> 
                        <!-- <input type = "text" [ngModel] = "entity.Date !== '' ? (entity.Date | date: 'MM-dd-yyyy') : entity.Date" (selected) = "entity.Date = $event.end._d;" daterangepicker [options] = "dateOptions" style= "border: none;background : transparent"/> -->
                        <!-- <input type = "text" [value] = "(entity.DueDate | date: 'MM-dd-yyyy') || empty " (keyup.enter) = "entity.DueDate = InputDueDate($event)"(selected) = "entity.DueDate = Rewrite($event)" daterangepicker [options] = "dateOptions" style= "border: none;background : transparent"/> -->
                        <input type = "text" [value] = "CheckDate(entity.DueDate)" (keyup.enter) = "entity.DueDate = InputDueDate($event)"(selected) = "entity.DueDate = Rewrite($event)" daterangepicker [options] = "dateOptions" style= "border: none;background : transparent"/>
                      </td>
                      <td>
                        <select [ngModel] = "entity.ShippingStatusId" (ngModelChange) = "SelectChange($event, entity)" style="border:none" >
                          <option [ngValue] = "0"></option>
                          <option *ngFor = "let x of ShippingStatus" [ngValue] = "x.Code" >{{x.Name}}</option>
                        </select>
                      </td>
                      <td class="alignNumber" (click)="ChangePrice($event, i)">
                        <span *ngIf = "!isSelectRow(i)">{{CheckNumber(entity.Price) ? (entity.Price | currency: 'USD': 'symbol-narrow': '.0-4') : entity.Price }}</span>
                        <input style= "text-align: inherit; width: 100%" type = "number" #a name = "Price"[(ngModel)] = "entity.Price" (keyup.enter) = "unhidden()"*ngIf = "isSelectRow(i)"/>
                      </td>
                      <td class="alignNumber">{{entity.Price !== ""  && entity.AvailableQty !== "" ? (entity.Price * entity.AvailableQty | currency: 'USD': 'symbol-narrow': '.0-2') : ""}}</td>
                      <td >Not available</td>
                      <td class="buy" valign="top" align="center">
                          <button  type="button" class="browser"  style="display: inline-block;">Browse</button>
                      </td>
                      <td contenteditable='true' [textContent]="entity.TechLink" (input)="entity.TechLink = $event.target.textContent"></td>
                      <td class="buy" valign="top" align="center">
                        <button  type="button" class="browser"  style="display: inline-block;" (click) = "RemoveMaterial(i)">Remove</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              
              </div>
            </div>
            <div class="col-md-12 nopadding">
              <pagination [boundaryLinks]="true"  (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" [totalItems]="totalRow1" [maxSize] = "pageDisplay" [(ngModel)]="pageIndex" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
            </div>
          </div>
      
      </div>
      <div *ngIf= "showConfirm && showList">
        <button class = "btn btn-info btn-infos"  (click) = "Upload()">Upload</button>
      </div>
    </div>
  </div>
  
