<div class="page-title">
  <div class="title_left">
    <h3>Shipping Method List</h3>
  </div>

  <div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
      <div class="input-group">
        <input type="text" class="form-control" name="filter" (keyup.enter)="loadData()" [(ngModel)]="filter" placeholder="Search...">
        <span class="input-group-btn">
          <button class="btn btn-default" (click)="loadData()" type="button">Go</button>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel noboder">
      <div class="x_title ">
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <button class="btn btn-success" (click)="showAddModal()">Add new</button>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content nopadding">
          <div class="col-md-12 nopadding">
              <pagination [boundaryLinks]="true" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)" [totalItems]="totalRow" *ngIf="!hiddenpaging"
                [(ngModel)]="pageIndex" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
            </div>
        <table class="table table-bordered table-striped noboder nopadding">
          <thead class= "title_materilist">
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Shipping Fee (%)</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of shippingmethods">
              <td>{{item.Name}}</td>
              <td>{{item.Description}}</td>
              <td>{{item.ShippingFee}}</td>
              <td>
                <button class="btn btn-primary" (click)="showEditModal(item.Id)">
                  <i class="fa fa-pencil-square-o"></i>
                </button>
                <button  class="btn btn-danger" (click)="deleteItem(item.Id)">
                  <i class="fa fa-trash"></i>
                </button>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!--Modal add and edit-->
<div bsModal #modalAddEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add/edit</h4>
        <button type="button" class="close pull-right" (click)="modalAddEdit.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm.valid)"
          *ngIf="entity">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Name </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" #name="ngModel" required [(ngModel)]="entity.Name" name="name" placeholder="Name of shipping method"/>
              <div *ngIf="addEditForm.submitted && !name.valid" class="alert alert-danger">
                <div *ngIf="name.errors.required">Name is not empty</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Description </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <textarea class="form-control" #Description="ngModel" required [(ngModel)]="entity.Description" name="Description" rows="3" placeholder="Description"></textarea>
              <div *ngIf="addEditForm.submitted && !Description.valid" class="alert alert-danger">
                <div *ngIf="Description.errors.required">Description is not empty</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Shipping Fee</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <div class="input-group">
                <input type="number" pattern="[0-9]+([\.,][0-9]+)?" step="0.01" required #taxRate="ngModel" [(ngModel)]="entity.ShippingFee" name="ShippingFee" class="form-control" placeholder="Shipping Fee ex: 2">
                <span class="input-group-addon">%</span>
              </div>
              <div *ngIf="addEditForm.submitted && !ShippingFee.valid" class="alert alert-danger">
                <div *ngIf="ShippingFee.errors.pattern">
                  Shipping Fee must be number
                </div>
              </div>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="submit" class="btn btn-success" [disabled]="!addEditForm.form.valid">Accept</button>
              <button type="button" (click)="modalAddEdit.hide()" class="btn btn-primary">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>