<div class="row margintotal">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel noboder">
      <div class="title_left" style="color:#73879C; padding-left: 10px;">
        <h3>Order Management</h3>
      </div>
      <div class="x_content">
        <table class="table table-bordered material noboder table-striped">
          <thead>
            <tr class="title_materilist">
              <th>Order Number</th>
              <th>Order Date</th>
              <th>Total Quantity</th>
              <th>Sub Total</th>
              <th>Shipping Method</th>
              <th>Shipping Fee</th>
              <th>Transaction Fee</th>
              <th>Total</th>
              <th style="width: 15%"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="isLoading">
              <td colspan="9" >
                    <i class="fa fa-spin fa-spinner fa-5x"></i>
                    Loading data...
              </td>
            </tr>
            <tr *ngFor="let item of orders">
              <td >{{item.OrderNumber}}</td>
              <td >{{item.OrderDate | date: 'shortDate'}}</td>
              <td >{{item.TotalQuantity | number}}</td>
              <td class="alignNumber">{{item.SubTotal | currency: 'USD':'symbol-narrow':'.0-2'}}</td>
              <td >{{item.ShippingMethod.Name}}</td>
              <td class="alignNumber">{{item.ShippingMethod.ShippingFee | currency: 'USD':'symbol-narrow':'.0-2'}}</td>
              <td class="alignNumber">{{item.TransactionAmount | currency: 'USD':'symbol-narrow':'.0-2'}}</td>
              <td class="alignNumber">{{item.Total | currency: 'USD':'symbol-narrow':'.0-2'}}</td>
              <td style="width: 15%">
                <button class="btn btn-primary" (click)="showEditModal(item.ID)">
                  <i class="fa fa-pencil-square-o"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="col-md-12 nopadding" *ngIf="totalRow > pageSize ? true:false">
          <pagination [boundaryLinks]="true" (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" [totalItems]="totalRow" [maxSize] = "pageDisplay"
           [(ngModel)]="pageIndex" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal add and edit-->
<div bsModal #modalAddEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" style="min-width: 950px;">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Order Detail</h4>
        <button type="button" class="close pull-right" (click)="modalAddEdit.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left" *ngIf="entity">
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" href="#order">Order Information</a>
            </li>
            <li>
              <a data-toggle="tab" href="#billing">Billing Information</a>
            </li>
            <li>
              <a data-toggle="tab" href="#shipping">Shipping Information</a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="order" class="tab-pane fade in active">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label class="control-label col-md-4 col-sm-4 col-xs-12">Order Number : </label>
                  <div class="col-md-8 col-sm-8 col-xs-12">
                    <!-- <label h class="control-label">{{entity[0].ID}}</label> -->
                    <label class="control-label">{{entity[0].OrderNumber}}</label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4 col-sm-4 col-xs-12">Order Date : </label>  
                  <div class="col-md-8 col-sm-8 col-xs-12">
                      <label class="control-label">{{entity[0].OrderDate | date: 'shortDate'}}</label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4 col-sm-4 col-xs-12">Total Quantity :</label>
                  <div class="col-md-8 col-sm-8 col-xs-12">
                    <label class="control-label">{{entity[0].TotalQuantity | number}}</label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4 col-sm-4 col-xs-12">Sub Total :</label>
                  <div class="col-md-8 col-sm-8 col-xs-12">
                    <label class="control-label">{{entity[0].SubTotal | currency: 'USD':'symbol-narrow':'.0-6'}}</label>
                  </div>
                </div>
              </div>
              
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label class="control-label col-md-4 col-sm-4 col-xs-12">Shipping Method :</label>
                  <div class="col-md-8 col-sm-8 col-xs-12">
                    <label class="control-label">{{entity[0].ShippingMethod.Name}}</label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4 col-sm-4 col-xs-12">Shipping Fee :</label>
                  <div class="col-md-8 col-sm-8 col-xs-12">
                    <label class="control-label">{{entity[0].ShippingMethod.ShippingFee | currency: 'USD':'symbol-narrow':'.0-6'}}</label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4 col-sm-4 col-xs-12">Transaction Fee :</label>
                  <div class="col-md-8 col-sm-8 col-xs-12">
                    <label class="control-label">{{entity[0].TransactionAmount | currency: 'USD':'symbol-narrow':'.0-6'}}</label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4 col-sm-4 col-xs-12">Total : </label>
                  <div class="col-md-8 col-sm-8 col-xs-12">
                   <label class="control-label">{{entity[0].Total | currency: 'USD':'symbol-narrow':'.0-6'}}</label>
                  </div>
                </div>
              </div>

              <table class="table table-bordered table-striped noboder">
                <thead>
                  <tr class="title_materilist">
                    <th>Part Number</th>
                    <th>Quantity</th>
                    <th>MOQ</th>
                    <th>AvailbleQty</th>
                    <th>Price</th>
                    <th>Amount</th>
                    <th>Shipping Method</th>
                    <th>Delivery Status</th>
                    <th>Order Status</th>
                    <th style="width: 10%"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of entityDetails | slice: (pageIndexOrderDetail * pageSize) - pageSize :pageIndexOrderDetail * pageSize; let indexRow = index">
                    <td>{{item.MaterialList.Material.PartNumber}}</td>
                    <td class="alignNumber">{{item.Quantity | number}}</td>
                    <td class="alignNumber">{{item.MaterialList.MOQ | number}}</td>
                    <td class="alignNumber">{{item.MaterialList.AvailableQty | number}}</td>
                    <td class="alignNumber">{{item.UnitPrice | currency: 'USD':'symbol-narrow':'.0-4'}}</td>
                    <td class="alignNumber">{{item.ExtendedPrice | currency: 'USD':'symbol-narrow':'.0-4'}}</td>
                    <td>{{item.Order.ShippingMethod.Name}}</td>
                    <td>{{item.DeliveryStatuses.Name}}</td>
                    <td>{{item.OrderStatuses.Name}}</td>
                    <td style="width: 10%">
                      <button class="btn btn-cancel" [disabled]="item.OrderStatuses.Name == 'Cancelled'" (click)="CancelItem(item.Id, item.Order.ID)">
                        Cancel
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="col-md-12 nopadding" *ngIf="totalRow1 > pageSize ? true:false">
                  <pagination [boundaryLinks]="true"  [itemsPerPage]="pageSize" (pageChanged)="pageChangedOderdetail($event)" [totalItems]="totalRow1" [maxSize] = "pageDisplay"
                  [(ngModel)]="pageIndexOrderDetail" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
              </div>
            </div>

            <div id="billing" class="tab-pane fade">
              <br/>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="control-label col-md-4 col-sm-4 col-xs-12">Full Name: </label>
                  <div class="col-md-8 col-sm-8 col-xs-12">
                    <label class = "control-label"> {{entity[0].AddressBilling.FullName}} </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4 col-sm-4 col-xs-12">Email Adress: </label>
                  <div class="col-md-8 col-sm-8 col-xs-12">
                    <label class = "control-label"> {{entity[0].AddressBilling.Email}} </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4 col-sm-4 col-xs-12">Phone Number: </label>
                  <div class="col-md-8 col-sm-8 col-xs-12">
                    <label class = "control-label"> {{entity[0].AddressBilling.PhoneNumber}} </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4 col-sm-4 col-xs-12">Country:</label>
                  <div class="col-md-8 col-sm-8 col-xs-12">
                    <label class = "control-label"> {{entity[0].AddressBilling.Country.Name}} </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4 col-sm-4 col-xs-12">City:</label>
                  <div class="col-md-8 col-sm-8 col-xs-12">
                    <label class = "control-label"> {{entity[0].AddressBilling.City}} </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4 col-sm-4 col-xs-12">State:</label>
                  <div class="col-md-8 col-sm-8 col-xs-12">
                    <label class = "control-label"> {{entity[0].AddressBilling.State}} </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4 col-sm-4 col-xs-12">Address1:</label>
                  <div class="col-md-8 col-sm-8 col-xs-12">
                    <label class = "control-label"> {{entity[0].AddressBilling.Address1}} </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4 col-sm-4 col-xs-12">Zip Code:</label>
                  <div class="col-md-8 col-sm-8 col-xs-12">
                    <label class = "control-label"> {{entity[0].AddressBilling.ZipCode}} </label>
                  </div>
                </div>
              </div>
            </div>

            <div id="shipping" class="tab-pane fade">
              <br/>
              <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class="control-label col-md-4 col-sm-4 col-xs-12">Full Name: </label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                      <label class = "control-label"> {{entity[0].AddressDelivery.FullName}} </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-4 col-sm-4 col-xs-12">Email Adress: </label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                      <label class = "control-label"> {{entity[0].AddressDelivery.Email}} </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-4 col-sm-4 col-xs-12">Phone Number: </label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                      <label class = "control-label"> {{entity[0].AddressDelivery.PhoneNumber}} </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-4 col-sm-4 col-xs-12">Country :</label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                      <label class = "control-label"> {{entity[0].AddressDelivery.Country.Name}} </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-4 col-sm-4 col-xs-12">City:</label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                      <label class = "control-label"> {{entity[0].AddressDelivery.City}} </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-4 col-sm-4 col-xs-12">State:</label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                      <label class = "control-label"> {{entity[0].AddressDelivery.State}} </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-4 col-sm-4 col-xs-12">Address1:</label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                      <label class = "control-label"> {{entity[0].AddressDelivery.Address1}} </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-4 col-sm-4 col-xs-12">Zip Code:</label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                      <label class = "control-label"> {{entity[0].AddressDelivery.ZipCode}} </label>
                    </div>
                  </div>
                </div>
            </div>
          </div>

          <div class="clearfix"></div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-8 col-sm-8 col-xs-12">
              <!-- <button type="submit" class="btn btn-success" [disabled]="!addEditForm.form.valid">Save</button> -->
              <!-- <button type="button" (click)="modalAddEdit.hide()" class="btn btn-primary">Cancel Order</button> -->
              <button type="button" (click)="modalAddEdit.hide()" class="btn btn-primary">Close</button>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>