<div class="clearfix"></div>

<div class=" col-md-12 pull-right">
    <div class="x_panel">
        <div class="title_left">
            <h3>Material Display</h3>
        </div>
        <div class="">
            <div class="col-md-3 col-sm-6 col-xs-12 form-group" style="padding-left:0px;">
                <input type="text" name="startDate" daterangepicker #StartDate [options]="StartdateOptions" (selected)="changeStartDate($event)" class="form-control" placeholder="From date...">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                <input type="text" name="endDate" daterangepicker disabled #EndDate [options]="EnddateOptions"  (selected)="changeEndDate($event)" class="form-control" placeholder="To date...">
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12 form-group">
                <label class="control-label col-md-9 col-sm-9 col-xs-12">Description</label>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <input type="checkbox" name="Description" class="form-control" [(ngModel)]="Description">
                </div>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12 form-group">
                <label class="control-label col-md-9 col-sm-9 col-xs-12">Manufacturer</label>
                <div  class="col-md-3 col-sm-3 col-xs-12">
                    <input type="checkbox" name="Manufacturer" class="form-control" [(ngModel)]="Manufacturer" >
                </div>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12 form-group">
                <label class="control-label col-md-9 col-sm-9 col-xs-12">Teck link</label>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <input type="checkbox" name="TeckLink" class="form-control" (ngModel)="TeckLink">
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                <button class="btn btn-success" (click)="loadData()" >Search</button>
            </div>
        </div>
        <div class="title_left col-md-12 nopadding">
            <h4>Review Material List</h4>
        </div>
        <div>
            <table class="table table-bordered table-striped noboder nopadding">
                <thead>
                    <tr class= "title_materilist">
                        <th>Part Number</th>
                        <th>Description</th>
                        <th>Manufacturer</th>
                        <th>Status to Search</th>
                        <th>Image</th>
                        <th>Tech link</th>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of ReviewMaterialList">
                        <td>
                            {{item.PartNumber}}
                        </td>
                        <td>
                            {{item.Description}}
                        </td>
                        <td>
                            {{item.Manufacturer}}
                        </td>
                        <td>
                            {{item.StatusToSearch == 1 ? 'Ready' : item.StatusToSearch == 2 ? 'Wait Data Entry' :  item.StatusToSearch == 0 ? 'Cancelled' : ''}}
                        </td>
                        <td>

                        </td>
                        <td>
                            {{item.TechLink}}
                        </td>
                        <td>
                            <button class="btn btn-primary" (click)="showEditModal(item.MaterialId, item.MaterialListId)" data-toggle ="tooltip" title = "Edit">
                                <i class="fa fa-pencil-square-o"></i>
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="!ReviewMaterialList">
                        <td colspan="7"> No items to display</td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-12 nopadding" >
                <pagination [boundaryLinks]="true" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)" [totalItems]="totalRow" *ngIf="!hiddenpaging" [maxSize]="pageDisplay"
                    [(ngModel)]="pageIndexBuying" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div bsModal #modalAddEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form class="form-horizontal form-label-left" #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)" *ngIf="Material">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Edit Part Number "{{Material.PartNumber}}"</h4>
            <button type="button" class="close pull-right" (click)="modalAddEdit.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Description </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                <input type="hidden" [(ngModel)]="Material.Id" name="id" />
                <textarea type="text" #Description="ngModel" [(ngModel)]="Material.Description" required name="Description" class="form-control" placeholder="Description ..."></textarea>
                <div *ngIf="addEditForm.submitted && !Description.valid" class="alert alert-danger">
                    <div *ngIf="Description.errors.required">Description is required</div>
                </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Manufacturer </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                <textarea class="form-control" #Manufacturer="ngModel" required [(ngModel)]="Material.Manufacturer" name="Manufacturer" rows="3" placeholder="Manufacturer ..."></textarea>
                <div *ngIf="addEditForm.submitted && !Manufacturer.valid" class="alert alert-danger">
                    <div *ngIf="Manufacturer.errors.required">Manufacturer is required</div>
                </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Name </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                Upload Image
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Tech link </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                <textarea class="form-control" #TechLink="ngModel" required [(ngModel)]="Material.TechLink" name="TechLink" rows="3" placeholder="Tech link ..."></textarea>
                <div *ngIf="addEditForm.submitted && !TechLink.valid" class="alert alert-danger">
                    <div *ngIf="TechLink.errors.required">Tech Link is required</div>
                </div>
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                <button type="submit" class="btn btn-success">Accept</button>
                <button type="button" (click)="modalAddEdit.hide()" class="btn btn-primary">Cancel</button>
                </div>
            </div>
        </div>
        </form>
    </div>
  </div>
</div>