<div class="clearfix"></div>
<div class="row margintotal">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">

      <div class="x_content" style="overflow: auto;">
        <div class="title_left">
          <h3>BOM Management</h3>


          <div class="form-group col-md-12 col-sm-12 col-xs-12" style="border-bottom: 2px solid #ddd;padding-bottom: 10px">
            
              <select class="form-control col-md-3 col-sm-6 col-xs-12" style="width:300px;" name="Id" #Id="ngModel" [(ngModel)]="selectBomId">
                <option [ngValue]="0"> &nbsp;&nbsp; BOM List&nbsp;&nbsp;</option>
                <option *ngFor="let x of bomList" [ngValue]="x.Id">{{x.Name}}</option>
              </select>
              <div class = "col-md-9 col-sm-6 col-xs-12">
                <button class="btn btn-info btn-infos" style="margin-bottom:0px" [routerLink]="['/home/bommanagement/index',selectBomId]"><i class="fa fa-list-alt"></i> Search Result</button>
                <button class="btn btn-danger" style="margin-bottom:0px" (click)="deleteBom(selectBomId)"><i class="fa fa-trash"></i> Delete BOM</button>
                <button class="btn btn-info btn-new-bom btn-infos wrap" style="margin-bottom: 0px" >
                  <i class="fa fa-cloud-upload"></i>
                  Upload New BOM
                  <input type="file" #excelFile name="myfile" (change) = "uploadNewBom()" />
                </button>
              </div>
          </div>
          
        </div>
        <div class="text-center col-md-12 col-sm-12 col-xs-12 " *ngIf="isLoading">
            <i class="fa fa-spin fa-spinner fa-5x"></i>
            Loading data...
        </div>
        <div *ngIf="entitys?.length > 0" class="x_content" style="overflow: auto; ">
          <!-- <div><label>Total on Request: {{requestQuantity | currency: 'USD':true:'.0-2'}}</label></div>
          <div><label>Total on Request with MOQ: {{requestQuantityWithMOQ | currency: 'USD':true:'.0-2'}}</label></div>
          <label>Part numbers are matched</label> -->
          
          <table class="table table-bordered material noboder">
            <thead>
              <tr class="title_materilist">
                <th>No.</th>
                <th class="pointer" (click)="sort('PartNumber')">Manufacturer Part Number
                  <i style="float: right" class="fa" [ngClass]="{'fa-sort': column != 'PartNumber', 
                                      'fa-sort-asc': (column == 'PartNumber' && !isDesc), 
                                      'fa-sort-desc': (column == 'PartNumber' && isDesc) }" aria-hidden="true"> </i>
                </th>
                <th class="pointer" (click)="sort('Manufacturer')"> Manufacturer
                  <i style="float: right" class="fa" [ngClass]="{'fa-sort': column != 'Manufacturer', 
                                    'fa-sort-asc': (column == 'Manufacturer' && !isDesc), 
                                    'fa-sort-desc': (column == 'Manufactuẻ' && isDesc) }" aria-hidden="true"> </i>
                </th>
                <th class="pointer" (click)="sort('Description')">Description
                  <i style="float: right" class="fa" [ngClass]="{'fa-sort': column != 'Description', 
                                      'fa-sort-asc': (column == 'Description' && !isDesc), 
                                      'fa-sort-desc': (column == 'Description' && isDesc) }" aria-hidden="true"> </i>
                </th>
                <th>Condition</th>
                <th>DateCode</th>
                <th class="pointer" (click)="sort('SellerId')">Multiple Sellers
                  <i style="float: right" class="fa" [ngClass]="{'fa-sort': column != '', 
                                    'fa-sort-asc': (column == 'SellerId' && !isDesc), 
                                    'fa-sort-desc': (column == 'SellerId' && isDesc) }" aria-hidden="true"> </i>
                </th>
                <th>&nbsp;&nbsp;&nbsp;&nbsp;MOQ&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th class="pointer" (click)="sort('AvailableQty')">Quantity
                  <i style="float: right" class="fa" [ngClass]="{'fa-sort': column != '', 
                                    'fa-sort-asc': (column == 'AvailableQty' && !isDesc), 
                                    'fa-sort-desc': (column == 'AvailableQty' && isDesc) }" aria-hidden="true"> </i>
                </th>
              
                <th class="pointer" (click)="sort('RequestQty')">Requested Quantity
                  <i style="float: right" class="fa" [ngClass]="{'fa-sort': column != '', 
                                  'fa-sort-asc': (column == 'RequestQty' && !isDesc), 
                                  'fa-sort-desc': (column == 'RequestQty' && isDesc) }" aria-hidden="true"> </i>
                </th>                
                <th>Availability</th>
                <th>Status</th>
                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Price&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th class="pointer" (click)="sort('ExtendedPrice')">Extended Price
                  <i style="float: right" class="fa" [ngClass]="{'fa-sort': column != '', 
                                    'fa-sort-asc': (column == 'ExtendedPrice' && !isDesc), 
                                    'fa-sort-desc': (column == 'ExtendedPrice' && isDesc) }" aria-hidden="true"> </i>
                </th>  
                <!-- <th>Detail</th> -->
                <th>In Cart</th>
                <th>Buy</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let entity of entitys | orderBy: {property: column, direction: direction} | slice: (pageIndex * pageSize) - pageSize :pageIndex * pageSize; let indexRow =  index"  [class.hightlight]="isSelectRow(indexRow) || addCartEvent(entity.MaterialListId)" [class.errorAdd] = "addErrorCart(entity.MaterialListId)" [class.warningAdd] = "addWarningCart(entity.MaterialListId)">
              <tr [class.odd] = "IsOdd(indexRow)" [class.even] = "!IsOdd(indexRow)">
                <td>
                  {{(pageIndex * pageSize) - pageSize + indexRow + 1}}
                </td>
                <td><a class = "linkpart"routerLink= "/home/materialdetail/{{entity.MaterialId}}">{{entity.PartNumber}}</a></td>
                <td>{{entity.Manufacturer}}</td>
                <td>{{entity.Description}}</td>
                <td>{{entity.Condition}}</td>
                <td>{{entity.DateCode}}</td>
                <td class = "pointer" ><span>{{entity.SellerId}}<i (click)  = "entity.IsDrop = showDetail(entity)" *ngIf = "entity.IsMultiSeller == 1" style="float: right" class="fa" [ngClass] = "{'fa-sort-desc': entity.IsDrop, 'fa-sort-asc': !entity.IsDrop}" aria-hidden="true"> </i></span></td>
                <td class="alignNumber">{{entity.MOQ | number}}</td>
                <td class="alignNumber">{{entity.AvailableQty | number}}</td>
                <td class="alignNumber"  (click) = "ChangeIndex(indexRow)" [class.hightlighterror]="entity.RequestQty > entity.AvailableQty && !isShown">
                  <span *ngIf = "!isSelectRow(indexRow)">{{CheckNumber(entity.RequestQty) ? (entity.RequestQty | number) : null }}</span>
                  <input style= "text-align: inherit; width: 100%" type = "number" #a name = "Price" [(ngModel)] = "entity.RequestQty" min="0" *ngIf = "isSelectRow(indexRow)"/>
                </td>                
                <td>{{entity.DueDate }}</td>
                <td>{{entity.ShippingStatus}}</td>
                <td class="alignNumber">{{entity.Price | currency: 'USD':'symbol-narrow':'.0-4'}}</td>
                <td class="alignNumber">{{entity.Price*entity.RequestQty | currency : 'USD': 'symbol-narrow': '.0-2'}}</td>
                <td class="alignNumber">{{entity.InCart | number}}</td>
                <td class="buy cart" valign="top" align="center">
                  <button type="button" class="browser margintotal" style="display: inline-block;white-space: pre" (click)="addToCart(entity.Id,entity.PartNumber,entity.MaterialListId,entity.RequestQty, entity.AvailableQty, entity.MOQ,entity.Price,entity.Price*entity.AvailableQty)" [disabled] = "entity.AvailableQty == 0">Add To Cart</button>
                </td>                
                <td class= "nowrap">                  
                  <button class="btn btn-danger" (click)="deleteRow((pageIndex * pageSize) - pageSize + indexRow, entity)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
              <!-- lấy expand or collapse -->              
              <tr [class.odd] = "IsOdd(indexRow)" [class.even] = "!IsOdd(indexRow)"[hidden] = "entity.IsDrop" *ngFor= "let expand of expands ; let index_expand = index" >
              <td></td>
              <td><a class = "linkpart"routerLink= "/home/materialdetail/{{expand.MaterialId}}">{{expand.PartNumber}}</a></td>
              <td>{{expand.Manufacturer}}</td>
              <td>{{expand.Description}}</td>
              <td>{{expand.Condition}}</td>
              <td>{{expand.DateCode}}</td>
              <td>{{expand.SellerId}}</td>
              <td class="alignNumber">{{expand.MOQ | number}}</td>
              <td class="alignNumber">{{expand.AvailableQty | number}}</td>
              <td class="alignNumber"  (click) = "ChangeIndexExpand(index_expand)" [class.hightlighterror]="expand.RequestQty > expand.AvailableQty && !isShown">
                <span *ngIf = "!isSelectExpand(index_expand)">{{CheckNumber(expand.RequestQty) ? (expand.RequestQty | number) : null }}</span>
                <input style= "text-align: inherit; width: 100%" type = "number" #a name = "Price"[(ngModel)] = "expand.RequestQty"*ngIf = "isSelectExpand(index_expand)"/>
              </td>              
              <td>{{expand.DueDate }}</td>
              <td>{{expand.ShippingStatus}}</td>
              <td class="alignNumber">{{expand.Price | currency: 'USD':'symbol-narrow':'.0-4'}}</td>
              <td class="alignNumber">{{expand.Price*expand.RequestQty | currency : 'USD': 'symbol-narrow': '.0-2'}}</td>
              <td class="alignNumber">{{expand.InCart | number}}</td>
              <td class="buy cart" valign="top" align="center">
                <button type="button" class="browser margintotal" style="display: inline-block;white-space: pre" (click)="addToCart(expand.Id,expand.PartNumber,expand.MaterialListId,expand.RequestQty, expand.AvailableQty, expand.MOQ,expand.Price,expand.Price*expand.AvailableQty)" [disabled] = "expand.AvailableQty == 0">Add To Cart</button>
              </td>             
              <td class= "nowrap">
                <button class="btn btn-danger" (click)="deleteRowExpand(index_expand)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
              </tr>            
            </ng-container>
            </tbody>
          </table>
          <button type = "button" class = "carts" (click) = "addAllToCart()">Add All To Cart</button>
          <form name="form" class="form-horizontal form-label-left" novalidate *ngIf = "isShown">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Success Items:</label>
                <div class="spe-control col-md-9 col-sm-9 col-xs-12" >
                    <label class="control-label">{{successQty| number}}</label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Warning Item:</label>
                <div class="spe-control col-md-9 col-sm-9 col-xs-12">
                    <label class="control-label">{{warningQty | number}}</label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Error Total: </label>
                <div class="spe-control col-md-9 col-sm-9 col-xs-12">
                    <label class="control-label">{{errorQty | number }}</label>
                </div>
            </div>
          </form>
          <div class="col-md-12 nopadding">
            <pagination [boundaryLinks]="true" (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" [totalItems]="totalRow1" [maxSize] = "pageDisplay" [(ngModel)]="pageIndex" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
          </div>
          
        </div>
        

        <div *ngIf="suggests?.length >0" class="x_content" >
          
          <label>Part numbers are not matched</label>
          <div style = "overflow:auto;height:200px">
          <table class="table table-bordered material noboder table-striped">
            <thead>
              <tr class="title_materilist">

                <th>Part Number</th>
                <th>Requested Quantity</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entity of suggests; let indexSuggest = index">

                <td>{{entity.PartNumber}}</td>
                <td class="alignNumber">{{entity.RequestQty}}</td>
                <td>
                  <button class="btn btn-danger" (click)="deleteRow(indexSuggest, entity)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          </div>
          <!-- <div class="col-md-12">
                <pagination [boundaryLinks]="true" [itemsPerPage]="pageSize" (pageChanged)="pageChanged2($event)" *ngIf="!hiddenpaging1" [maxSize] = "pageDisplay"
                  [totalItems]="totalRow2" [(ngModel)]="pageIndex2" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;"
                  firstText="&laquo;" lastText="&raquo;"></pagination>
              </div> -->
        </div>

        <div class = "col-md-12 col-sm-6 col-xs-12 pull-right">
          <button class="btn btn-info btn-new-bom btn-infos pull-left" style="float:right" (click)="showAddModal()"><i class="fa fa-plus-circle"></i> Add New</button>
          <button class="btn btn-info btn-infos pull-left" (click)="showChangeName()"><i class="fa fa-save"></i>  Save BOM</button>

          <button class="btn btn-primary pull-right" (click)="exportFile()"><i class="fa fa-cloud-download"></i>  Export To File</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Modal Edit/Add -->
<div bsModal #modalAddEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add/edit</h4>
        <button type="button" class="close pull-right" (click)="modalAddEdit.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm.valid)">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">PartNumber</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="hidden" [(ngModel)]="_index" name="index" />
              <input type="hidden" [(ngModel)]="id" name="id" />
              <input required type="text" #partnumber="ngModel" [(ngModel)]="partNumber" name="partnumber" class="form-control" placeholder="Partnumber"
              />
              <small class="text-danger" *ngIf="partnumber.errors?.required && partnumber.touched">PartNumber must be required</small>
              <!--<small [hidden]="code.valid || (code.pristine && !addEditForm.submitted)" class="text-danger">
                Code is at least 3 characters
              </small> -->
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Request Quanitity</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input required type="text" pattern= "[0-9]+" #requestqty="ngModel" [(ngModel)]="requestQty" name="requestqty" class="form-control" placeholder="RequestQty"
              />
              <small class="text-danger" *ngIf="requestqty.errors?.required">Request quantity must be required</small>
              <small class="text-danger" *ngIf="requestqty.errors?.pattern">Request quantity must be number</small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="submit" class="btn btn-success">Accept</button>
              <button type="button" (click)="modalAddEdit.hide()" class="btn btn-primary">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--modal change name bom-->
<div bsModal #modalNameBom="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left"> Do you want to overwrite? </h4>
        <button type="button" class="close pull-right" (click)="modalNameBom.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left" novalidate #changeForm="ngForm" (ngSubmit) = "saveBOMChangeName(changeForm.valid)">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">BOM name</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input required type="text" #filename="ngModel" [(ngModel)]="bomName" name="fileName" class="form-control" placeholder="File Name">
              <small class = "text-danger" *ngIf = "filename.errors?.required && filename.touched"> File name must be required</small>
              <!--<small [hidden]="code.valid || (code.pristine && !addEditForm.submitted)" class="text-danger">
                Code is at least 3 characters
              </small> -->
            </div>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
            <button type = "submit"class="btn btn-success" >Yes</button>
            <button type="button" (click)="modalNameBom.hide()" class="btn btn-primary">No</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>