
.pointer{
    cursor: pointer;
}
.table td {
    vertical-align: middle;
}
 .table>thead>tr>th {
     padding: 5px;
 }
 .wrap {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
   input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }