﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <p>Dear {{UserName}},</p>
    <p>Thanks for signing up to MOQller.com. Please click on the link <a href="{{Link}}">{{Link}}</a> to complete the registration.</p>
    
    <p>
        Regards,
    </p>
    <p>
        MOQller team 
    </p>
    
</body>
</html>
