﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <p>Dear {{UserName}},</p>
    <p>Congratulation and please process and ship items to {{Content}}</p>

    <p>
        Regards,
    </p>
    <p>
        MOQller team
    </p>

</body>
</html>
