﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <p>Congratulations! {{UserName}},</p>
   

    <p>
        Regards,
    </p>
    <p>
        MOQller team
    </p>

</body>
</html>
