﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <p>Dear {{UserName}},</p>
    <p>{{Content}}</p>
    
    <p>
        Regards,
    </p>
    <p>
        MOQller team 
    </p>
    
</body>
</html>
