<div class="page-title">
  <div class="title_left">
    <h3>Roles List</h3>
  </div>

  <div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
      <div class="input-group">
        <input type="text" class="form-control" name="filter" (keyup.enter)="loadData()" [(ngModel)]="filter" placeholder="Search...">
        <span class="input-group-btn">
          <button class="btn btn-default" (click)="loadData()" type="button">Go</button>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel noboder">
      <div class="x_title">
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <button class="btn btn-success nomargin" (click)="showAddModal()">Add new</button>
          </li>

        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content nopadding" style="overflow: auto;">
        <div class="col-md-12 nopadding">
          <pagination [boundaryLinks]="true" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)" [totalItems]="totalRow" *ngIf="!hiddenpaging"
            [(ngModel)]="pageIndex" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
        </div>
        <table class="table table-bordered table-striped noboder nopadding">
          <thead class = "title_materilist">
            <tr>
              <th >Code</th>
              <th >Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let role of roles">
              <td>{{role.Name}}</td>
              <td>{{role.Description}}</td>
              <td>
                <button *ngIf="role.Name !='Admin' && role.Name !='Member'" class="btn btn-primary" (click)="showEditModal(role.Id)">
                  <i class="fa fa-pencil-square-o"></i>
                </button>
                <button *ngIf="role.Name !='Admin' && role.Name !='Member'" class="btn btn-danger" (click)="deleteItem(role.Id)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!--Modal add and edit-->
<div bsModal #modalAddEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add/edit permission</h4>
        <button type="button" class="close pull-right" (click)="modalAddEdit.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm.valid)"
          *ngIf="entity">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Code</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="hidden" [(ngModel)]="entity.Id" name="id" />
              <input type="text" #name="ngModel" [(ngModel)]="entity.Name" required minlength="3" name="name" class="form-control">
              <small [hidden]="name.valid || (name.pristine && !addEditForm.submitted)" class="text-danger">
                You have input at lease 3 characters
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Name </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <textarea class="form-control" #description="ngModel" required [(ngModel)]="entity.Description" name="description" rows="3"></textarea>
              <small [hidden]="description.valid || (description.pristine && !addEditForm.submitted)" class="text-danger">
                You have input description
              </small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="submit" class="btn btn-success" [disabled]="!addEditForm.form.valid">Update</button>
              <button type="button" (click)="modalAddEdit.hide()" class="btn btn-primary">Cancel</button>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>