<div class="container-flud">
  <div class="w100">
    <div class="col-md-2 left_col">
      <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
          <a routerLink="/main/home/index" class="site_title"><i class="fa fa-paw"></i> <span>MOQller</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile">
          <!-- <div class="profile_pic">
            <img [src]="baseFolder + user.avatar" height="50" alt="..." class="img-circle profile_img">
          </div> -->
          <div class="profile_info">
            <h2>Hello {{user.firtName}}!</h2>
          </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <app-sidebar-menu></app-sidebar-menu>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <!-- <div class="sidebar-footer hidden-small">
          <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="Logout" (click)="logout">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
          </a>
        </div> -->
        <!-- /menu footer buttons -->
      </div>
    </div>

    <!-- top navigation -->
    <!-- <app-top-menu></app-top-menu> -->
    <!-- /top navigation -->

    <!-- page content -->
    <div class="col-md-10 right_col" role="main">
      <div class="">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- /page content -->

    </div>
</div>