   
<div *ngIf="!showConfirm" class="center_wrapper notop">
    <div class="clearfix"></div>
    <div >
        <section class="login_content">
            <form name="form" class="form-horizontal form-label-left" novalidate #f="ngForm" (ngSubmit)="saveChange(f)">

                <div class="col-md-6 col-sm-6 col-xs-12">

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12">First Name
                            <small style="color:red">*</small>
                        </label>

                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" #firstName="ngModel" [(ngModel)]="entity.FirstName" required name="firstName" class="form-control" placeholder="First Name">

                            <div *ngIf="f.submitted && !firstName.valid" class="alert alert-danger">
                                <div *ngIf="firstName.errors.required">First Name is required</div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Last Name
                            <small style="color:red">*</small>
                        </label>

                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" #lastName="ngModel" [(ngModel)]="entity.LastName" required name="lastName" class="form-control" placeholder="Last Name">

                            <div *ngIf="f.submitted && !lastName.valid" class="alert alert-danger">
                                <div *ngIf="lastName.errors.required">Last Name is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Country
                            <small style="color:red">*</small>
                        </label>

                        <div class="col-md-8 col-sm-8 col-xs-12">

                            <select class="form-control spe-control" required name="country" #country1="ngModel" [(ngModel)]="entity.CountryId" (ngModelChange)="onCountryChange($event)">
                                <!-- <option [ngValue]="defaultCountry.Id" selected>{{defaultCountry.Name}}</option> -->
                                <option *ngFor="let x of _countries"[ngValue]="x.Id">{{x.Name}}</option>
                            </select>

                            <!-- <div *ngIf="country1.errors && (country1.dirty || country1.touched)" class="alert alert-danger">
                                Country is required
                            </div> -->
                            <div *ngIf="f.submitted && !country1.valid" class="alert alert-danger">
                                <div *ngIf="country1.errors.required">Country is required</div>
                            </div>
                            <input type="hidden" [(ngModel)]="entity.CountryId" name="country" #country="ngModel" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Company
                            <small style="color:red">*</small>
                        </label>

                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" #company="ngModel" [(ngModel)]="entity.Company" required name="company" class="form-control" placeholder="Company">
                            <!-- <div *ngIf="company.errors && (company.dirty || company.touched)" class="alert alert-danger">
                                Company is required
                            </div> -->
                            <div *ngIf="f.submitted && !company.valid" class="alert alert-danger">
                                <div *ngIf="company.errors.required">Company is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Email Address
                            <small style="color:red">*</small>
                        </label>

                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" #email="ngModel" [(ngModel)]="entity.Email"
                                required name="email" class="form-control" placeholder="Email Address">
                            <!-- <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">

                                <div *ngIf="email.errors.required">Email Address is required</div>
                                <div *ngIf="email.errors.pattern">
                                    Invalid email format
                                </div>

                            </div> -->
                            <div *ngIf="f.submitted" >
                               <div *ngIf="checkEmail(entity.Email)" class="alert alert-danger">  Email must be a business email</div>

                            </div>
                            
                            <div *ngIf="f.submitted && !email.valid" class="alert alert-danger">
                                <div *ngIf="email.errors.required">Email Address is required</div>
                                <div *ngIf="email.errors.pattern">
                                    Invalid email format
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Occupation

                        </label>

                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" #occupation="ngModel" [(ngModel)]="entity.Occupation" name="occupation" class="form-control" placeholder="Occupation">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Address
                            <small style="color:red">*</small>
                        </label>

                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" #address="ngModel" [(ngModel)]="entity.Address" required name="address" class="form-control" placeholder="Address">
                            <!-- <div *ngIf="address.errors && (address.dirty || address.touched)" class="alert alert-danger">
                                Address is required
                            </div> -->
                            <div *ngIf="f.submitted && !address.valid" class="alert alert-danger">
                                <div *ngIf="address.errors.required">Address is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Phone Number
                            <small style="color:red">*</small>
                        </label>

                        <div class="col-md-8 col-sm-8 col-xs-12 spe-control">
                            <input type="text" #phone="ngModel" [(ngModel)]="entity.PhoneNumber" required name="phone" class="form-control" placeholder="Phone Number">
                            <div *ngIf="phone.errors &&( (phone.dirty || phone.touched) || f.submitted)" class="alert alert-danger">
                               <div *ngIf="phone.errors.required">Phone number is required</div>
                                
                            </div>
                            <!-- <div *ngIf="f.submitted && !phone.valid" class="alert alert-danger">
                                <div *ngIf="phone.errors.required">Phone number is required, please input your phone number.</div>
                                <div *ngIf="phone.errors.pattern">
                                    Phone number must be number.
                                </div>
                            </div> -->
                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Address 2

                        </label>

                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" #address2="ngModel" [(ngModel)]="entity.Address2" name="address2" class="form-control"  placeholder="Address 2">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12">City
                            <small style="color:red;">*</small>
                        </label>

                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" #city="ngModel" [(ngModel)]="entity.City" required name="city" class="form-control" placeholder="City">
                            <!-- <div *ngIf="city.errors && (city.dirty || city.touched)" class="alert alert-danger">
                                City is required
                            </div> -->
                            <div *ngIf="f.submitted && !city.valid" class="alert alert-danger">
                                <div *ngIf="city.errors.required">City is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12">State or Province

                        </label>

                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <!-- <input type="text" #state="ngModel" [(ngModel)]="entity.State" name="state" class="form-control"> -->
                            <select class="form-control spe-control" name="state1" #state1="ngModel" [(ngModel)]="entity.State">
                                <option [ngValue]="undefined" selected>--Select State--</option>
                                <option *ngFor="let x of _states" [ngValue]="x.Id">{{x.Name}}</option>
                            </select>

                            <input type="hidden" [(ngModel)]="entity.State" name="state" #state="ngModel" class="form-control">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Zip Code
                            <small style="color:red;">*</small>
                        </label>

                        <div class="col-md-8 col-sm-8 col-xs-12 ">
                            <input type="number" pattern="[0-9]*" #zipCode="ngModel" [(ngModel)]="entity.ZipCode" required name="zipCode" class="form-control spe-control" placeholder="Zip Code">
                            <!-- <div *ngIf="zipCode.errors && (zipCode.dirty || zipCode.touched)" class="alert alert-danger">
                                ZipCode is required
                            </div> -->
                            <div *ngIf="f.submitted && !zipCode.valid" class="alert alert-danger">
                                <div *ngIf="zipCode.errors.required">ZipCode is required</div>
                                <div *ngIf="zipCode.errors.pattern">
                                    ZipCode must be number
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Tax Rate

                        </label>

                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="number" pattern="[0-9]+([\.,][0-9]+)?" step="0.01" #taxRate="ngModel" [(ngModel)]="entity.TaxRate" name="taxRate" class="form-control spe-control" placeholder="Tax Rate">
                            <div *ngIf="f.submitted && !taxRate.valid" class="alert alert-danger">
                                <div *ngIf="taxRate.errors.pattern">
                                    Tax Rate must be number
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12">User Name
                            <small style="color:red;">*</small>
                        </label>

                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" #userName="ngModel" [(ngModel)]="entity.UserName" required name="userName" class="form-control" placeholder="User Name">
                            <!-- <div *ngIf="userName.errors && (userName.dirty || userName.touched)" class="alert alert-danger">
                                User Name is required
                            </div> -->
                            <div *ngIf="f.submitted && !userName.valid" class="alert alert-danger">
                                <div *ngIf="userName.errors.required">User Name is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Password
                            <small style="color:red;">*</small>
                        </label>

                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!#%*?&])[A-Za-z\d$@$!#%*?&]{8,}" #password="ngModel"  placeholder="Password"
                                [(ngModel)]="entity.Password" required minlength="8" name="password" class="form-control">
                            <div *ngIf="password.errors && ((password.dirty || password.touched) || f.submitted )" class="alert alert-danger">

                                <div *ngIf="password.errors.required">Passwords is required</div>
                                <div *ngIf="password.errors.minlength">Passwords must contain at least 8 characters</div>
                                <div *ngIf="password.errors.pattern">
                                    Passwords must contain uppercase, lowercase, number, and symbol.
                                </div>
                            </div>

                            <!-- <div *ngIf="f.submitted && !password.valid" class="alert alert-danger">
                                <div *ngIf="password.errors.required">Password is required</div>
                                <div *ngIf="password.errors.pattern">
                                    Password is not valid, Minimum 8 Characters, at least 1 UpperCase 1 LowerCase 1 number and 1 Special Character!
                                </div>
                            </div> -->

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Confirm password
                            <small style="color:red;">*</small>
                        </label>

                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!#%*?&])[A-Za-z\d$@$!#%*?&]{8,}" minlength="8" #confirm="ngModel" placeholder="Confirm password"
                                [(ngModel)]="entity.ConfirmPassword" required validateEqual="password" name="confirm" class="form-control">
                            <div *ngIf="confirm.errors && (confirm.dirty || confirm.touched || f.submitted)" class="alert alert-danger">

                                <div *ngIf="confirm.errors.required">Confirm password is required</div>
                                <div *ngIf="confirm.errors.minlength">Confirm passwords must contain at least 8 characters</div>
                                <div *ngIf="confirm.errors.pattern">
                                    Confirm passwords must contain uppercase, lowercase, number, and symbol.
                                </div>

                            </div>
                            <!-- <div *ngIf="f.submitted && !confirm.valid" class="alert alert-danger">
                                <div *ngIf="confirm.errors.required">Confirm password is required</div>
                                <div *ngIf="confirm.errors.pattern">
                                    Password is not valid, please input another password to ensure the security!
                                </div>
                            </div> -->
                            <div *ngIf="(entity.Password != entity.ConfirmPassword && entity.ConfirmPassword != '')" class="alert alert-danger">
                                Please enter Confirm Password to match with Password!
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="display:inline !important;">
                        <input type="checkbox" [(ngModel)]="toggleBool" name="toggleBool" /> I agree to the MOQller.com
                        <a routerLink="/home/underconstruction">Privacy Policy</a> and
                        <a routerLink="/home/underconstruction">Terms of Service</a>
                        <br/>
                        <br/>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button type="submit"  class="btn btn-success btn-block"><i class="fa fa-save"></i> Register</button>
                            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                            />
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
<div *ngIf="showConfirm" class="confirmation">

    <div  class="center30" style = "color: black">
        <p>Confirmation Email is sent to
            <span>{{user.Email}}</span>
        </p>
        <p>Please check your email inbox and click the link in email to complete your registration.</p>
        <p>The link in email will be expired in 24 hours.</p>
    </div>
</div>