<div class="center_wrapper notop nobackground">
  <div class="x_panel" style="padding:10px;">
      <div class= "form-group">
          <form #f= "ngForm">
              
              <textarea style ="height: 200px; resize: none;" required class="form-control tempdata" #dataText = "ngModel" name = "data" [(ngModel)] = "data" autofocus></textarea>
              <div style = "margin: 0px auto; width: 50%">
              <label *ngIf = "!EmptyData()" style = "margin-top: 20px">Pending review </label>
              <br>
                  <div style = "margin: 10px auto; width: 50%">
                  <button [disabled] = "EmptyData()" class = "btn btn-info btns btn-new-bom btn-infos" (click) = "AddData()">Add</button>
                  <button [disabled] = "!EmptyData()"class = "btn btn-info btns btn-new-bom btn-infos wrap">Upload Material File
                        <input type="file" #excelFile name="myfile" (change) = "GoToUploadBom()" />
                  </button>
                  </div>
              </div>  
          </form>
      </div>
  </div>
</div> 
