<div *ngIf ="!redirectToUploadBom">
  <div>
      <div class="big-search">
          <form id="search" method="get" action="" class="intro-big-search">
              <div class="center">
                  <input type="text" placeholder="Enter keyword here..." name="part" id="part" [(ngModel)]="keyWord" autocomplete="off" autofocus=""
                      class="search-field" style = "margin-right: 10px; ">
                  
                  <button [disabled]="keyWord == ''" [routerLink]="['/home/materiallist/index',keyWord]" class="secondary-button">
                      Search
                  </button>
                  
                  <button class="primary-button wrap"> Upload BOM 
                          <input type="file" #excelFile name="myfile" (change) = "GoToUploadBom()" />
                  </button>
                 
              </div>
          </form>
      </div>
      
  </div>
  
</div>
