.pro-action div i {
    font-size: 15px;
    margin-right: 5px;
}

.big-search {
    top: 150;
}

.primary-button .sub {
    font-size: 10px;
}

footer {
    position: fixed;
}
.wrap {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
   input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .button-upload
  {
    border: 2px solid gray;
    color: #2e75b6;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    
    
  }