<div class="login_wrapper loginmargintop">
  
    <div class="form">
      <section class="login_content">
        <form name="form" class="form-horizontal form-label-left" novalidate #f="ngForm" (ngSubmit)="forgot(f)">
  
          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">User Name
                <small style="color:red;">*</small>
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <input type="text" #userName="ngModel" [(ngModel)]="model.UserName" required name="userName" class="form-control" placeholder="User Name">
                <div *ngIf="f.submitted && !userName.valid" class="alert alert-danger">
                    <div *ngIf="userName.errors.required">User Name is required</div>
                </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Email Address
                <small style="color:red">*</small>
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <input type="text" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" #email="ngModel" [(ngModel)]="model.Email"
                    required name="email" class="form-control" placeholder="Email Address">
                <div *ngIf="f.submitted && !email.valid" class="alert alert-danger">
                    <div *ngIf="email.errors.required">Email Address is required</div>
                    <div *ngIf="email.errors.pattern">
                        Invalid email format
                    </div>
                </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <button><i class="fa fa-unlock-alt"></i>  Reset Password</button>
          </div>
          </div>
          <div class="separator">
            <div class="clearfix"></div>
          </div>
        </form>
    </section>
  </div>
</div>