<div class="row margintotal">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel" >
      <div class="x_content" style="overflow: auto;">
        <div class="title_left">
          <div class = "center30" > 
            <div *ngIf="showMapColumn">
              <div class="form-group">
                <label>Part Number Column:</label>
                <select class="form-control spe-control" name="partNumber1" #partNumber1="ngModel" [(ngModel)]="partNumberField">
                  <option [ngValue]="undefined" selected>--Select Part Number--</option>
                  <option *ngFor="let x of dataError" [ngValue]="x.Name"><div *ngIf="x.Sheet!=''">Sheet Name: {{x.Sheet}}</div><span *ngIf="x.Name!='Multiple worksheet' && x.Sheet==''">&nbsp;&nbsp;&nbsp;&nbsp;+&nbsp;</span>{{x.Name}}</option>
                </select>
                <input type="hidden" [(ngModel)]="partNumberField" name="partNumber" #partNumber="ngModel" class="form-control">
              </div>
              <div *ngIf="showMapColumn" class="form-group">
                <label>Quantity Column:</label>
                <select class="form-control spe-control" name="qty1" #qty1="ngModel" [(ngModel)]="qtyField">
                  <option [ngValue]="undefined" selected>--Select Quantity--</option>
                  <option *ngFor="let x of dataError" [ngValue]="x.Name"><div *ngIf="x.Sheet!=''">Sheet Name: {{x.Sheet}}</div><span *ngIf="x.Name!='Multiple worksheet' && x.Sheet==''">&nbsp;&nbsp;&nbsp;&nbsp;+&nbsp;</span>{{x.Name}}</option>
                </select>
                <input type="hidden" [(ngModel)]="qtyField" name="qty" #qty="ngModel" class="form-control">
              </div>                  
              <br/>
              <div class="form-group">
                <button  class="btn btn-success" (click) = "LoadData(formData)">Upload</button>               
                <button type="button" routerLink="/home/index" class="btn btn-danger">Cancel</button>
              </div>              
            </div>
          </div>
          <div *ngIf="showLoading" class="center30">
            <div class="bomstatusfont">
              <img class="imgbomstatus" src="/assets/images/comp_3.gif" height=100px />
              <p class="title"> Upload in progress</p>
              <div>
                <p>
                  <i class="fa fa-check-circle itag"></i>
                  <span class="state"> Uploading BOM</span>
                </p>
                <p>
                  <i class="fa fa-check-circle itag"></i>
                  <span class="state"> Processing BOM</span>
                </p>
                <p>
                  <i class="fa fa-check-circle itag nodisplay"></i>
                  <span class="bomstatus"> Displaying BOM</span>
                </p>
              </div>
            </div>
          </div>
          <div *ngIf="showResult" class="x_content" style="overflow: auto;">
            <h3>Upload BOM Result</h3>
            <div class="select-action margintotal">
            </div>
            <div *ngIf ="showConfirm"> <!-- nếu login-->
              <label>Part numbers are matched</label>
              <div style = "overflow:auto;">
                <table class="table table-bordered noboder material table-striped ">
                  <thead>
                    <tr class = "title_materilist">                  
                      <th >Part Number</th>                  
                      <th >Requested Quantity</th>                  
                      <!-- <th ></th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let entity of entityList | slice: (pageIndex * pageSize) - pageSize :pageIndex * pageSize; let inEntity = index ">
                      
                      <td>{{entity.PartNumber}}</td>                
                      <td class="alignNumber" (click) = "ChangeIndex(inEntity)">
                          <span *ngIf = "!isSelectRow(inEntity)">{{entity.RequestQty !== null ? (entity.RequestQty | number) : null }}</span>
                          <input *ngIf = "isSelectRow(inEntity)"  type = "text" #Qty name = "Qty" [ngModel] = "entity.RequestQty" (ngModelChange) = "entity.RequestQty = CheckNumber($event)"/>
                      </td>                      
                    </tr>
                  </tbody>
                </table>           
              </div>            
              <div class="col-md-12 nopadding">
                <pagination [boundaryLinks]="true"  (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" [totalItems]="totalRowLogIn" [maxSize] = "pageDisplay" [(ngModel)]="pageIndex" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
              </div>
            </div>
            <!--nếu chưa đăng nhập thì sang div--> 
            <div *ngIf ="!showConfirm"> <!-- nếu login-->
              <label>Part numbers are matched</label>
              <div style = "overflow:auto;">
                <table class="table table-bordered noboder material table-striped ">
                  <thead>
                    <tr class = "title_materilist">
                      
                      <th >Manufacturer Part Number</th>
                      <!-- <th>Manufacturer</th> -->
                      <th >Seller ID</th>
                      <!-- <th>DueDate</th> -->
                      <th >MOQ</th>
                      <th >Available Quantity</th> 
                      <th >Request Quantity</th>
                      <!-- <th>Status</th> -->
                      <th >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Price&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                      <th >Extended Price</th>
                      <th>Buy</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let entity of entitys | slice: (pageIndex * pageSize) - pageSize :pageIndex * pageSize; let inEntity = index ">
                      
                    <td>{{entity.PartNumber}}</td>
                    <!-- <td>{{entity.Manufacturer}}</td> -->
                    <td>{{entity.SellerId}}</td>
                    <td class="alignNumber">{{entity.MOQ | number}}</td>
                    <!-- <td class="alignNumber">{{entity.DueDate | date: 'shortdate'}}</td> -->
                    <td class="alignNumber">{{entity.AvailableQty | number}}</td>
                    
                    <td class="alignNumber" >{{entity.RequestQty | number}}</td>
                    <!-- <td>{{entity.SellerId}}</td> -->
                    <td class="alignNumber">{{entity.Price | currency: 'USD':'symbol-narrow':'.0-4'}}</td>
                    <td class="alignNumber">{{entity.Price*entity.AvailableQty | currency : 'USD': 'symbol-narrow': '.0-2'}}</td>
                    <td class="buy cart" valign="top" align="center">
                      <button type="button" class="browser margintotal" style="display: inline-block;" (click)="AddToCart()">Cart</button>
                    </td>
                    </tr>
                  </tbody>
                </table>
                <div><label>Total on Request: {{requestQuantity | currency: 'USD':'symbol-narrow':'.0-2'}}</label></div>
                <div><label>Total on Request with MOQ: {{requestQuantityWithMOQ | currency: 'USD':'symbol-narrow':'.0-2'}}</label></div>
              </div> 
              <div class="col-md-12 nopadding">
                <pagination [boundaryLinks]="true"  (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" [totalItems]="totalRowLogOut" [maxSize] = "pageDisplay" [(ngModel)]="pageIndex" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
              </div>
            </div>
          </div>
          <!--Not Match-->
          <div *ngIf="!showConfirm && suggests?.length > 0" class="x_content" style="overflow: auto;">            
            <label>Part numbers are not matched</label>
            <div style = "overflow:auto;height:200px">
              <table class="table table-bordered material noboder table-striped">
                <thead>
                  <tr class = "title_materilist">                 
                    <th >Manufacturer Part Number</th>
                    <th >Part Description</th>
                    <th >MFG</th>
                    <th >Requested Quantity</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let entity of suggests; let inSuggest = index">
                    
                    <td>{{entity.PartNumber}}</td>
                    <td>{{entity.Description}}</td>
                    <td>{{entity.Manufacturer}}</td>
                    <td class="alignNumber">{{entity.RequestQty | number}}</td>
                    
                  </tr>
                </tbody>
              </table>   
            </div>
          </div>
          <div *ngIf= "showConfirm && showList">
            <button class = "btn btn-info btn-infos"  (click) = "saveBOM()">Save</button>
            <button class = "btn btn-primary" (click) = "goToBomManagement()">Cancel</button>
          </div>
        </div>
      </div>

<div bsModal #modalNameBom="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left"> Change BOM name </h4>
        <button type="button" class="close pull-right" (click)="modalNameBom.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left" novalidate #changeForm="ngForm">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">BOM Name</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input required type="text" #filename="ngModel" [(ngModel)]="fileName" name="fileName" class="form-control" placeholder="File Name">
              <small class = "text-danger" *ngIf = "filename.error?.required"> File name must be required</small>
              <!--<small [hidden]="code.valid || (code.pristine && !addEditForm.submitted)" class="text-danger">
                Code is at least 3 characters
              </small> -->
            </div>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
            <button class="btn btn-success" (click) = "saveBOM()">Save</button>
            <button type="button" (click)="modalNameBom.hide()" class="btn btn-primary">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>