<div class="top_nav">
  <div class="nav_menu">
    <nav class="" role="navigation">
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <!-- <li class="">
          <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <img [src]="baseFolder + user.avatar" alt="">{{user.fullName}}
                <span class=" fa fa-angle-down"></span>
              </a>
          <ul class="dropdown-menu dropdown-usermenu pull-right">
            <li><a href="javascript:;">Profile</a></li>
            <li>
              <a href="javascript:;">
                    <span class="badge bg-red pull-right">50%</span>
                    <span>Cài đặt</span>
                  </a>
            </li>
            <li><a href="javascript:;">Trợ giúp</a></li>
            <li><a href="#" (click)="logout()"><i class="fa fa-sign-out pull-right"></i> logout</a></li>
          </ul>
        </li> -->

        <li role="presentation" class="dropdown">
          <!-- <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-envelope-o"></i>
                <span class="badge bg-green" *ngIf="announcements && announcements.length>0">{{announcements.length}}</span>
              </a> -->
          <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
            <li *ngFor="let item of announcements">
              <a (click)="markAsRead(item.ID)">
                <span class="image"><img [src]="baseFolder+item.AppUser.Avatar" height="30" alt="item.AppUser.FullName" /></span>
                <span>
                      <span>{{item.AppUser.FullName}}</span>
                      <span class="time">{{item.CreatedDate}}</span>
                </span>
                <span class="message">
                   {{item.Content}}
                 
                </span>
              </a>
            </li>
            <li>
              <div class="text-center">
                <a routerLink="/main/my-announcement">
                      <strong>Xem tất cả thông báo</strong>
                      <i class="fa fa-angle-right"></i>
                    </a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>