<div class="center_wrapper notop">
    <div *ngIf="ViewCart" class="x_panel" style="padding:10px;">
        <div class="title_left">
            <h3>Cart List</h3>
        </div>
        <div>
            <div style="overflow: auto; max-height:500px;">
                <table class="table table-bordered table-layout table-striped noboder nopadding">
                    <thead>
                        <tr class="title_materilist">
                            <th>Part Number</th>
                            <th>Manufacturer</th>
                            <th>Seller Id</th>
                            <th>Quantity</th>
                            <th>Available Quantity</th>
                            <th>Unit Price</th>
                            <th>Amount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of carts; let indexRow = index" [class.errorAdd]="item.Quantity > item.MaterialList.AvailableQty">
                            <td><a class = "linkpart"routerLink= "/home/materialdetail/{{item.MaterialList.Material.Id}}">{{item.MaterialList.Material.PartNumber}}</a></td>
                            <td>{{item.MaterialList.Material.Manufacturer}}</td>
                            <td>{{item.MaterialList.AppUser.UserName}}</td>
                            <!-- <td class="alignNumber">{{item.Quantity | number}}</td> -->
                            <td>
                                <div class="input-group" style="width:100%;">
                                    <input type="number" (blur)="onBlurQuantity($event.target.value, item.Id, oldvalue)" (focus)='oldvalue=item.Quantity' [(ngModel)]="item.Quantity"  pattern="[0-9]*" [min]='item.MaterialList.MOQ' [max]="item.MaterialList.MaxOfQuantity"
                                    class="alignNumber form-control"/>
                                </div>
                            </td>
                            <td class="alignNumber">{{item.MaterialList.AvailableQty | number}}</td>
                            <td class="alignNumber">{{item.UnitPrice | currency:'USD':'symbol-narrow':'.0-4'}}</td>
                            <td class="alignNumber">{{item.ExtendedPrice | currency:'USD':'symbol-narrow':'.0-2'}}</td>
                            <td>
                                <button class="btn btn-danger" (click)="deleteItem(item.Id)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <form name="form" class="form-horizontal form-label-left" novalidate (ngSubmit)="f.valid && AddBilling()" #f="ngForm">
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Total Items:</label>
                    <div class="spe-control col-md-9 col-sm-9 col-xs-12" >
                        <label class="control-label">{{TotalItems| number}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Total Quantity:</label>
                    <div class="spe-control col-md-9 col-sm-9 col-xs-12">
                        <label class="control-label">{{TotalQuantity | number}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Sub Total: </label>
                    <div class="spe-control col-md-9 col-sm-9 col-xs-12">
                        <label class="control-label">{{SubTotal | currency: 'USD':'symbol-narrow':'.0-2'}}</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Shipping Method: </label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <select class="form-control spe-control" name="shippingMethod" required #shippingMethod="ngModel" [(ngModel)]="shippingMethodId"
                            (ngModelChange)="onShippingMethodChange($event)">
                            <option [ngValue]="undefined" disabled selected>--Select Shipping Method--</option>
                            <option *ngFor="let x of shippingMethods" [ngValue]="x.Id">{{x.Name}}</option>
                        </select>
                        <div *ngIf="f.submitted && !shippingMethod.valid" class="alert alert-danger">
                            You must choose the shipping method
                        </div>
                        <!-- <input type="hidden" [(ngModel)]="shippingMethodId" name="shippingMethod" #shippingMethod="ngModel" class="form-control"> -->
                    </div>
                </div>
                <div class="form-group" *ngIf='shippingMethodsDescription'>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Shipping description: </label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <label class="control-label">{{shippingMethodsDescription}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Shipping Fee: </label>
                    <div class="spe-control col-md-9 col-sm-9 col-xs-12">
                        <label class="control-label">{{ShippingFee | currency: 'USD':'symbol-narrow':'.0-2'}}</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Transaction Fee: </label>
                    <div class="spe-controlcol-md-9 col-sm-9 col-xs-12">
                        <label class="control-label">{{OrderFee | currency: 'USD':'symbol-narrow':'.0-2'}}</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Total: </label>
                    <div class="spe-control col-md-9 col-sm-9 col-xs-12">
                        <label class="control-label">{{Total | currency: 'USD':'symbol-narrow':'.0-2'}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                        <button type="submit" class="btn btn-success">Add Billing Infomation</button>
                        <button type="button" (click) = "goBackToBom()" class="btn btn-primary">Back to BOM Management</button>
                    </div>
                </div>
                <div class="clearfix"></div>

            </form>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div *ngIf="ViewBilling" class="center_wrapper notop">
    <div class="clearfix"></div>
    <div>
        <section class="login_content">
            <form name="fCart" class="form-horizontal form-label-left" novalidate #f1="ngForm" (ngSubmit)="Pay(f1)">
                <!-- Start Billing Information -->
                <div id="BillingInfo">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                                <h3 style ="font-size:22px">Billing Information</h3>
                                <input type="hidden" [(ngModel)]="billing.Id" #BillingId name="BillingId" />
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Full Name<small style="color:red;">*</small></label>
                            <div class="col-md-8 col-sm-8 col-xs-12"> 
                                <input type="text" #FullName="ngModel" [(ngModel)]="billing.FullName" name="FullName" class="form-control" placeholder="Full Name ...">
                                <small [hidden]="FullName.valid || (FullName.pristine && !f1.submitted)" class="text-danger">
                                    Full Name is required
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Email Address <small style="color:red;">*</small></label>
                            <div class="col-md-8 col-sm-8 col-xs-12"> 
                                <input required type="text" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" #Email="ngModel" [(ngModel)]="billing.Email" name="Email" class="form-control" placeholder="Email Address ...">
                                <small [hidden]="Email.valid || (Email.pristine && !f1.submitted)" class="text-danger">
                                    Email address is required or invalid email format
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Country <small style="color:red;">*</small></label>

                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <select class="form-control spe-control" required name="country" #Blcountry="ngModel" [(ngModel)]="billing.CountryId" (ngModelChange)="onCountryChange($event)">
                                    <option [ngValue]="undefined" disabled selected>--Select Country--</option>
                                    <option *ngFor="let x of _countries" [ngValue]="x.Id">{{x.Name}}</option>
                                </select>
                                <div *ngIf="f1.submitted && !Blcountry.valid" class="alert alert-danger">
                                    <div *ngIf="Blcountry.errors.required">Country is required</div>
                                </div>
                                <input type="hidden" [(ngModel)]="billing.CountryId" name="country" #country="ngModel" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">City <small style="color:red;">*</small></label>

                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input required type="text" #City="ngModel" [(ngModel)]="billing.City" name="City" class="form-control" placeholder="City ...">
                                <small [hidden]="City.valid || (City.pristine && !f1.submitted)" class="text-danger">
                                    City is required
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">State </label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <select class="form-control spe-control" name="state1" #state1="ngModel" [(ngModel)]="billing.StateId">
                                        <option [ngValue]="undefined" selected>--Select State--</option>
                                        <option *ngFor="let x of _states" [ngValue]="x.Id">{{x.Name}}</option>
                                    </select>
                                <input type="hidden" [(ngModel)]="billing.StateId" name="StateId" #state="ngModel" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group" >
                            <div class="col-md-12 col-sm-12 col-xs-12" style ="float:right">
                                <select  class="form-control spe-control" name="BillingAddress" #BillingAddress="ngModel" [(ngModel)]="AdresssBillingId" (ngModelChange)="onBillingAddressChange($event)">
                                        <option [ngValue]="undefined" selected>--Add New--</option>
                                        <option *ngFor="let x of _Adresss;" [ngValue]="x.Id">{{x.FullName}}, {{ x.PhoneNumber}}, {{ x.Email}}, {{x.Address1}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Phone Number <small style="color:red;">*</small></label>

                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input required type="text" #PhoneNumber="ngModel" [(ngModel)]="billing.PhoneNumber" name="PhoneNumber" class="form-control" placeholder="Phone Number ...">
                                <small [hidden]="PhoneNumber.valid || (PhoneNumber.pristine && !f1.submitted)" class="text-danger">
                                    Phone number is required
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Address <small style="color:red;">*</small></label>

                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input required type="text" #Address1="ngModel" [(ngModel)]="billing.Address1" name="Address1" class="form-control" placeholder="Address 1 ...">
                                <small [hidden]="Address1.valid || (Address1.pristine && !f1.submitted)" class="text-danger">
                                    Address1 is required
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Address2 </label>

                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input type="text" #Address2="ngModel" [(ngModel)]="billing.Address2" name="Address2" class="form-control" placeholder="Address 2 ...">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Zip Code <small style="color:red;">*</small></label>
                            
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input required type="text" #ZipCode="ngModel" [(ngModel)]="billing.ZipCode" name="ZipCode" class="form-control" placeholder="ZipCode ...">
                                <small [hidden]="ZipCode.valid || (ZipCode.pristine && !f1.submitted)" class="text-danger">
                                    ZipCode is required
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-2">
                        <input type="checkbox" (change)="ShowDelivery($event)" checked="false" name="ShowDelivery" /> Shipping address same as billing
                    </div>
                </div>
                <!-- Start Delivery Information -->
                <div *ngIf="IsShowDilivery"  class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h3>Shipping Information</h3>
                        <input type="hidden" [(ngModel)]="delivery.Id" #deliveryId name="deliveryId" />
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right">
                        <select  class="form-control spe-control" name="DeliveryAddress" #BillingAddress="ngModel" [(ngModel)]="AdresssDeliveryId" (ngModelChange)="onDeliveryAddressChange($event)">
                            <option [ngValue]="undefined" selected>--Add New--</option>
                            <option *ngFor="let x of _Adresss;" [ngValue]="x.Id">{{x.FullName}}, {{ x.PhoneNumber}}, {{ x.Email}}, {{x.Address1}}</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Full Name <small style="color:red;">*</small></label>
                            <div class="col-md-8 col-sm-8 col-xs-12"> 
                                <input required type="text" #DlFullName="ngModel" [(ngModel)]="delivery.FullName" name="DlFullName" class="form-control" placeholder="Full Name ...">
                                <small [hidden]="DlFullName.valid || (DlFullName.pristine && !f1.submitted) || !IsShowDilivery" class="text-danger">
                                    Full name is required
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Email Address <small style="color:red;">*</small></label>
                            <div class="col-md-8 col-sm-8 col-xs-12"> 
                                <input required type="text" #DlEmail="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" [(ngModel)]="delivery.Email" name="DlEmail" class="form-control" placeholder="Email Address ...">
                                <small [hidden]="DlEmail.valid || (DlEmail.pristine && !f1.submitted ) || !IsShowDilivery" class="text-danger">
                                    Email address is required or invalid email format
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Country <small style="color:red;">*</small></label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <select class="form-control spe-control" required name="DlCountry" #DlCountry="ngModel" [(ngModel)]="delivery.CountryId" (ngModelChange)="onCountryDlChange($event)">
                                    <option [ngValue]="undefined" disabled selected>--Select Country--</option>
                                    <option *ngFor="let x of _countries" [ngValue]="x.Id">{{x.Name}}</option>
                                </select>
                            </div>
                            <div *ngIf="f1.submitted && !Blcountry.valid || !IsShowDilivery" class="alert alert-danger">
                                <div *ngIf="Blcountry.errors.required">Country is required</div>
                            </div>
                            <input type="hidden" [(ngModel)]="billing.CountryId" name="country" #country="ngModel" class="form-control">
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">City <small style="color:red;">*</small></label>

                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input required type="text" #DlCity="ngModel" [(ngModel)]="delivery.City" name="DlCity" class="form-control" placeholder="City ...">
                                <small [hidden]="DlCity.valid || (DlCity.pristine && !f1.submitted ) || !IsShowDilivery" class="text-danger">
                                    Address1 is required
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">State </label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <select class="form-control spe-control" name="DlState" #DlState="ngModel" [(ngModel)]="delivery.StateId">
                                    <option [ngValue]="undefined" selected>--Select State--</option>
                                    <option *ngFor="let x of _DlStates" [ngValue]="x.Id">{{x.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Phone Number <small style="color:red;">*</small></label>

                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input required type="text" #DlPhoneNumber="ngModel" [(ngModel)]="delivery.PhoneNumber" name="DlPhoneNumber" class="form-control" placeholder="Phone Number ...">
                                <small [hidden]="DlPhoneNumber.valid || (DlPhoneNumber.pristine && !f1.submitted ) || !IsShowDilivery" class="text-danger">
                                    Address1 is required
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Address <small style="color:red;">*</small></label>

                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input required type="text" #DlAddress1="ngModel" [(ngModel)]="delivery.Address1" name="DlAddress1" class="form-control" placeholder="Address 1 ...">
                                <small [hidden]="DlAddress1.valid || (DlAddress1.pristine && !f1.submitted  ) || !IsShowDilivery" class="text-danger">
                                    Address1 is required
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Address2</label>

                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input type="text" #DlAddress2="ngModel" [(ngModel)]="delivery.Address2" name="DlAddress2" class="form-control" placeholder="Address 2 ...">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Zip Code <small style="color:red;">*</small></label>

                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input required type="text" #DlZipCode="ngModel" [(ngModel)]="delivery.ZipCode" name="DlZipCode" class="form-control" placeholder="ZipCode ...">
                                <small [hidden]="DlZipCode.valid || (DlZipCode.pristine && !f1.submitted ) || !IsShowDilivery" class="text-danger">
                                    ZipCode is required
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Delivery Information -->

                <!-- Start Card List -->
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <h3>Summary</h3>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Total Items:</label>
                        <div class="spe-control col-md-8 col-sm-8 col-xs-12" >
                            <label class="control-label">{{TotalItems| number}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Total Quantity:</label>
                        <div class="spe-control col-md-8 col-sm-8 col-xs-12">
                            <label class="control-label">{{TotalQuantity| number}}</label>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Sub Total: </label>
                        <div class="spe-control col-md-8 col-sm-8 col-xs-12">
                            <label class="control-label">{{SubTotal | currency: 'USD':'symbol-narrow':'.0-2'}}</label>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Shipping Fee: </label>
                        <div class="spe-control col-md-8 col-sm-8 col-xs-12">
                            <label class="control-label">{{ShippingFee | currency: 'USD':'symbol-narrow':'.0-2'}}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Transaction Fee: </label>
                        <div class="spe-controlcol-md-8 col-sm-8 col-xs-12">
                            <label class="control-label">{{OrderFee | currency: 'USD':'symbol-narrow':'.0-2'}}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Total: </label>
                        <div class="spe-control col-md-8 col-sm-8 col-xs-12">
                            <label class="control-label">{{Total | currency: 'USD':'symbol-narrow':'.0-2'}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-4">
                            <button type="submit" class="btn btn-success">Pay</button>
                            <button type="button" (click)="BacktoCart()" class="btn btn-primary">Back to Cart</button>
                        </div>
                    </div>
                </div>
                <!-- End Card List -->
            </form>
        </section>

    </div>
</div>

<div *ngIf="ViewPayment" class="Payment">
    <ngx-braintree 
        [getClientToken]="getClientTokenFC.bind(this)" 
        [createPurchase]="createPurchaseFC.bind(this)"
        [buttonText]="'Pay ' + (Total | currency: 'USD':'symbol-narrow':'.0-2') "
        [locale]="'en_US'">
    </ngx-braintree>
</div>

<div *ngIf="ViewConfirm" class="confirmation">
    <div class="clearfix"></div>
    <div class="row col-md-12 col-sm-12 col-xs-12">
        <h1 style="font-size:40px;width: 100%;text-align: center;color:#0432FF; font-style: italic;">Thank you for your order!</h1>
        <h1 style="font-size:40px;width: 100%;text-align: center;color:#0432FF;">{{messagePay}}</h1>
        <!-- <button type="button" routerLink="/home/bommanagement" class="btn btn-primary">Back to BOM Management</button> -->
    </div>
</div>
<div class="clearfix"></div>
