<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <ul class="nav side-menu" style="display:inline !important;">

      <li *ngFor="let item of functions">
        <a>
          <i class="fa {{item.IconCss}}"></i> {{item.Name}}
          <span class="fa fa-chevron-down"></span>
        </a>
        <ul class="nav child_menu" id="child_menu" (click) ="onMenuClick()" >
          <li *ngFor="let subItem of item.ChildFunctions">
            <a routerLink="{{subItem.URL}}" routerLinkActive="active">{{subItem.Name}}</a>
          </li>
        </ul>
      </li>

    </ul>
  </div>

</div>
