<div class="clearfix"></div>

<div class =  "row margintotal">
    <div class=" col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="title_left">
            <h3>Inventory Management</h3>
        </div>
        
        <div>
            <table class="table table-bordered table-striped noboder nopadding">
                <thead>
                    <tr class= "title_materilist">
                        <th>Check</th>
                        <th class="pointer" (click)="sort('Material.PartNumber')">Manufacturer Part Number
                          <i style="float: right" class="fa" [ngClass]="{'fa-sort': column != 'Material.PartNumber', 
                                              'fa-sort-asc': (column == 'Material.PartNumber' && !isDesc), 
                                              'fa-sort-desc': (column == 'Material.PartNumber' && isDesc) }" aria-hidden="true"> </i>
                        </th>
                        <th class="pointer" (click)="sort('Material.Manufacturer')"> Manufacturer
                          <i style="float: right" class="fa" [ngClass]="{'fa-sort': column != 'Material.Manufacturer', 
                                            'fa-sort-asc': (column == 'Material.Manufacturer' && !isDesc), 
                                            'fa-sort-desc': (column == 'Material.Manufacturer' && isDesc) }" aria-hidden="true"> </i>
                        </th>
                        <th class="pointer" (click)="sort('Material.Description')">Description
                          <i style="float: right" class="fa" [ngClass]="{'fa-sort': column != 'Material.Description', 
                                              'fa-sort-asc': (column == 'Material.Description' && !isDesc), 
                                              'fa-sort-desc': (column == 'Material.Description' && isDesc) }" aria-hidden="true"> </i>
                        </th>
                        <th>Condition</th>
                        <th>Date code</th>
                        <th class="pointer" (click)="sort('DateCode')">Available Quantity
                          <i style="float: right" class="fa" [ngClass]="{'fa-sort': column != 'DateCode', 
                                            'fa-sort-asc': (column == 'DateCode' && !isDesc), 
                                            'fa-sort-desc': (column == 'DateCode' && isDesc) }" aria-hidden="true"> </i>
                        </th>
                        <th>MOQ</th>
                        <th>Available Date</th>
                        <th>Status</th>
                        <th class="pointer" (click)="sort('Price')">Price
                          <i style="float: right" class="fa" [ngClass]="{'fa-sort': column != 'Price', 
                                            'fa-sort-asc': (column == 'Price' && !isDesc), 
                                            'fa-sort-desc': (column == 'Price' && isDesc) }" aria-hidden="true"> </i>
                        </th>
                        <th>Extended Price</th>                        
                        <th>Remove</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="isLoading">
                        <td colspan="14" >
                              <i class="fa fa-spin fa-spinner fa-5x"></i>
                              Loading data...
                        </td>
                      </tr>
                    <tr *ngFor="let item of materiallists | orderBy: {property: column, direction: direction}">
                        <td><input type = "checkbox"/></td>
                        <td><a class = "linkpart"routerLink= "/home/materialdetail/{{item.MaterialId}}">{{item.Material.PartNumber}}</a></td>
                        <td >{{item.Material.Manufacturer}}</td>
                        <td>{{item.Material.Description}}</td>
                        <td >{{item.ConditionName}}</td>
                        <td >{{item.DateCode}}</td>
                        <td >{{item.AvailableQty | number}}</td>
                        <td >{{item.MOQ | number}}</td>
                        <td >{{item.ShippingStatus.Id !== idStock ? (item.DueDate | date: 'MM-dd-yyyy') : 'Now'}}</td>
                        <td>{{item.ShippingStatus.Name}}</td>
                        <td class="alignNumber">{{item.Price | currency : 'USD': 'symbol-narrow': '.0-4'}}</td>
                        <td class="alignNumber">{{item.Price * item.AvailableQty | currency : 'USD': 'symbol-narrow': '.0-2' }}</td>         
                        <td class="buy" valign="top" align="center">
                            <a (click)="RemoveMaterialConfirm(item.Id)"><i class="fa fa-trash"  style="font-size: 16px;" aria-hidden="true"></i></a>
                        </td>
                        <td>
                        <a (click)="ShowEditModal(item.Id)">
                        <i class="fa fa-pencil-square-o" style="font-size: 16px;" aria-hidden="true"></i>
                        </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-12 nopadding" >
                <pagination [boundaryLinks]="true"   [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)" [totalItems]="totalRow" [maxSize] = "pageDisplay"
                [(ngModel)]="pageIndex" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
            </div>
        
        </div>
        
    </div>
</div>

<!--Modal add and edit-->
<div bsModal #modalEditMaterial="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Edit materials</h4>
        <button type="button" class="close pull-right" (click)="modalEditMaterial.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left" novalidate #editForm="ngForm" (ngSubmit)="SaveChange(editForm.valid, entity.ShippingStatusId, entity.Id)"
          *ngIf="entity">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Part Number</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="hidden" [(ngModel)]="entity.Id" name="id" />
              <input [disabled] = "true" type="text" #partnumber="ngModel" [(ngModel)]="entity.Material.PartNumber" required minlength="3" name="code" class="form-control" placeholder="partnumber">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Manufacturer</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input [disabled] = "true" resize = "none" class="form-control" #manu="ngModel" [(ngModel)]="entity.Material.Manufacturer" name="manu" placeholder= "Manufacturer"/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Description</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <textarea [disabled] = "true" resize = "none" class="form-control" #des="ngModel" [(ngModel)]="entity.Material.Description" name="des" rows="3" placeholder= "Description"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Available Quantity</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input class="form-control"type = "text" #qty="ngModel" [(ngModel)]="entity.AvailableQty" required name="qty" pattern = "^\d+$" />
              <small class="text-danger" *ngIf = "qty.errors?.required && (qty.dirty || qty.touched) && entity.ShippingStatusId !== cancelled">
                Available Qty is mandatory information. Please input before you save.
              </small>
              <small class="text-danger" *ngIf = "qty.errors?.pattern && (qty.dirty || qty.touched) && entity.ShippingStatusId !== cancelled">
                Available Qty is must be a number!
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">MOQ</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input class="form-control" #moq="ngModel" [(ngModel)]="entity.MOQ" name="moq" pattern = "^\d+$" />
              <small class="text-danger" *ngIf = "moq.errors?.pattern && (moq.dirty || moq.touched) && entity.ShippingStatusId !== cancelled">
                MOQ is must be a number!
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Condition</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" #Condition="ngModel"  [(ngModel)]="entity.Condition" name="Condition">
                <option *ngFor = "let x of ConditionEnum" [ngValue] = "x.Id"> {{x.Name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Datecode</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input class="form-control" #DateCode="ngModel" [(ngModel)]="entity.DateCode" name="DateCode"/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Available Date</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type = "text" class = "form-control" DisableKeyboard = "true" [ngModel] = "CheckDueDate(entity.DueDate, entity.ShippingStatusId)" #duedate ="ngModel" name = "duedate" [disabled] = "CheckDueDate(entity.DueDate, entity.ShippingStatusId) == 'Now'" (selected) = "RewriteDate($event, entity)" daterangepicker [options] = "dateOptions">
              <!-- <input placement="bottom" class = "form-control" type = "text" required #duedate ="ngModel" name = "duedate" [ngModel] = "CheckDueDate(entity.DueDate, entity.ShippingStatusId)" (ngModelChange) = "" bsDatepicker [bsConfig] = "dateOptions"/> -->
              <small class="text-danger" *ngIf = "duedate.errors?.required && (duedate.dirty || duedate.touched) && entity.ShippingStatusId !== cancelled">
                Available Date is mandatory information. Please input before you save.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Status</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" #status="ngModel"  [ngModel] = "entity.ShippingStatusId" (ngModelChange) = "SelectChange($event, entity)" name="status">
                  <option *ngFor = "let x of shippingStatus" [ngValue] = "x.Id"> {{x.Name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Price</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input [disabled] = "true" class="form-control" #price="ngModel" required type= "number" [(ngModel)]="entity.Price" name="price"/>
                  
                </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="submit" class="btn btn-success" [disabled]="entity.ShippingStatusId !== cancelled && !editForm.form.valid">Accept</button>
              <button type="button" (click)="modalEditMaterial.hide()" class="btn btn-primary">Cancel</button>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>