
<div class="page-title">
  <div class="title_left">
    <h3>Material List
      
    </h3>
  </div>

  <div class="title_right">
    <div class="col-md-4 col-sm-6 col-xs-12 form-group">
      <select class="form-control" name="filterCategoryID" [(ngModel)]="filterCategoryID">
        <option value="">--Select Category--</option>
        <option *ngFor="let x of productCategories" [value]="x.ID">{{x.Name}}</option>
      </select>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 form-group ">
      <input type="text" name="filter" (keyup.enter)="search()" [(ngModel)]="filterKeyword" class="form-control" placeholder="Search...">
    </div>
    <div class="col-md-5 col-sm-6 col-xs-12 form-group">
      <button class="btn btn-primary" type="button" (click)="search()">Go</button>
      <button class="btn btn-default" type="button" (click)="reset()">Reset</button>
      <button class="btn btn-danger" type="button" (click)="deleteMulti()">Delete Multi</button>
    </div>

  </div>
</div>

<div class="clearfix"></div>

<div class="row">

  <div class="clearfix"></div>

  <div class="x_panel">
    <div class="x_content">
      <div class="x_title">
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <button *ngIf="_authenService.hasPermission('PRODUCT','create')" class="btn btn-success" (click)="showAdd()">Add new</button>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div *ngIf="products && products.length > 0" class="col-md-12">
          <pagination [boundaryLinks]="true" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)" [totalItems]="totalRow" [maxSize] ="pageDisplay"
            [(ngModel)]="pageIndex" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
        </div>
      <table *ngIf="products && products.length > 0" class="table table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Category</th>
            <th>Image</th>
            <td>Created Date</td>
            <td>Created By</td>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of products">
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" [(ngModel)]="item.Checked" [name]="item.ID" [ngModelOptions]="{standalone: true}">
                </label>
              </div>
            </td>
            <td>{{item.Name}}</td>
            <td>{{item.ProductCategory.Name}}</td>
            <td>
              <img width="128" [src]="baseFolder + item.ThumbnailImage" />
            </td>
            <td>{{item.CreatedDate | date}}</td>
            <td>{{item.CreatedBy}}</td>
            <td>
              <!-- <button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Image Management" *ngIf="_authenService.hasPermission('PRODUCT','update')"
                (click)="showImageManage(item.ID)">
                <i class="fa fa-file-image-o" aria-hidden="true"></i>
              </button>

              <button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Quantity Management" *ngIf="_authenService.hasPermission('PRODUCT','update')"
                (click)="showQuantityManage(item.ID)">
                <i class="fa fa-bandcamp" aria-hidden="true"></i>
              </button> -->

              <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Update" *ngIf="_authenService.hasPermission('PRODUCT','update')"
                (click)="showEdit(item.ID)">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </button>
              <button class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete" *ngIf="_authenService.hasPermission('PRODUCT','delete')"
                (click)="delete(item.ID)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
          </tr>

        </tbody>
      </table>
      <div *ngIf="products && products.length == 0" class="col-md-12">
        <div class="alert alert-info">
          <strong>Notification!</strong> No Proucts
        </div>

      </div>
      <div *ngIf="products && products.length > 0" class="col-md-12">
        <pagination [boundaryLinks]="true" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)" [totalItems]="totalRow" [maxSize] ="pageDisplay"
          [(ngModel)]="pageIndex" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
      </div>
    </div>
  </div>

</div>

<!--Thêm sửa-->
<div bsModal #addEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add new / Edit</h4>
        <button type="button" class="close pull-right" (click)="addEditModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left input_mask" novalidate #addEditForm="ngForm" (ngSubmit)="saveChanges(addEditForm.valid)"
          *ngIf="entity">
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" href="#basic">Basic Infomations</a>
            </li>
            <li>
              <a data-toggle="tab" href="#more-info">Extra Infomations</a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="basic" class="tab-pane fade in active">
              <h3>Basic Infomation</h3>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Name</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="hidden" [(ngModel)]="entity.ID" name="id" />
                  <input type="text" #name="ngModel" (keypress)="createAlias()" [(ngModel)]="entity.Name" required minlength="3" name="name"
                    class="form-control" />
                  <small [hidden]="name.valid || (name.pristine && !addEditForm.submitted)" class="text-danger">
                      You have to input at lease 3 characters
                  </small>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Alias</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" #alias="ngModel" [(ngModel)]="entity.Alias" required minlength="3" name="alias" class="form-control" />
                  <small [hidden]="alias.valid || (alias.pristine && !addEditForm.submitted)" class="text-danger">
                    You have to input alias
                  </small>
                </div>
              </div>


              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">List</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <select class="form-control" name="categoryID" [(ngModel)]="entity.CategoryID">
                    <option value="">--Select Category--</option>
                    <option *ngFor="let x of productCategories" [value]="x.ID">{{x.Name}}</option>
                  </select>
                  <input type="hidden" [(ngModel)]="entity.CategoryID" name="categoryID" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Image</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="file" #thumbnailImage name="thumbnailImage" class="form-control">
                  <p class="help-block label label-danger"> Only support *.png, *.jpg, *.jpeg </p>
                  <input type="hidden" [(ngModel)]="entity.ThumbnailImage" name="thumbnailImage" />
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12" *ngIf="entity.ThumbnailImage">
                  <img [src]="baseFolder + entity.ThumbnailImage" width="128" />
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Selling Price</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="number" #price="ngModel" [(ngModel)]="entity.Price" required name="price" class="form-control" />
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" [(ngModel)]="entity.IncludedVAT" name="includedVAT" #includedVAT="ngModel" /> Include VAT
                    </label>
                  </div>
                  <small [hidden]="price.valid || (price.pristine && !addEditForm.submitted)" class="text-danger">
                      You have to input selling price
                  </small>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Buying Price</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="number" #originalPrice="ngModel" [(ngModel)]="entity.OriginalPrice" required name="originalPrice" class="form-control"
                  />
                  <small [hidden]="originalPrice.valid || (originalPrice.pristine && !addEditForm.submitted)" class="text-danger">
                      You have to input buying price
                  </small>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Promotion Price</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="number" #promotionPrice="ngModel" [(ngModel)]="entity.PromotionPrice" name="promotionPrice" class="form-control"
                  />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Status</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" [(ngModel)]="entity.Status" name="status" #status="ngModel"> Active
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" [(ngModel)]="entity.HomeFlag" name="homeFlag" #status="ngModel"> Display on Home Page
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" [(ngModel)]="entity.HotFlag" name="hotFlag" #status="ngModel"> Hilight Product
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div id="more-info" class="tab-pane fade">
              <h3>Extra Infomations</h3>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Description</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <textarea type="text" #description="ngModel" [(ngModel)]="entity.Description" name="description" class="form-control"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Insurance (Month)</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="number" #warranty="ngModel" [(ngModel)]="entity.Warranty" name="warranty" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Product Detail</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <app-simple-tiny [elementId]="'my-editor-id'" [content]="entity.Content" (onEditorKeyup)="keyupHandlerContentFunction($event)">
                  </app-simple-tiny>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Keyword</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" #metaKeyword="ngModel" [(ngModel)]="entity.MetaKeyword" name="keyword" class="form-control" />

                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">SEO Description</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <textarea type="text" #metaDescription="ngModel" rows=4 [(ngModel)]="entity.MetaDescription" name="metaDescription" class="form-control"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Tags</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" #tags="ngModel" [(ngModel)]="entity.Tags" name="tags" class="form-control" />
                </div>
              </div>

            </div>
          </div>


          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="submit" class="btn btn-success" [disabled]="!addEditForm.form.valid">Update</button>
              <button type="button" (click)="addEditModal.hide()" class="btn btn-primary">Cancel</button>

            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<!--Quản lý ảnh-->
<div bsModal #imageManageModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Quản lý ảnh sản phẩm</h4>
        <button type="button" class="close pull-right" (click)="imageManageModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left input_mask" *ngIf="imageEntity" novalidate #imageForm="ngForm" (ngSubmit)="saveProductImage(imageForm.valid)">
          <div class="form-group row">
            <div class="col-xs-3">
              <label>Chọn ảnh</label>
              <input type="file" required #imagePath name="imagePath" class="form-control">
              <p class="help-block label label-danger"> chỉ hỗ trợ định dạng *.png, *.jpg, *.jpeg </p>
              <input type="hidden" [(ngModel)]="imageEntity.Path" name="imagePath" />
              <input type="hidden" [(ngModel)]="imageEntity.ProductId" name="productId" />
            </div>
            <div class="col-xs-3">
              <label for="ex2">Mô tả</label>
              <input class="form-control" name="caption" [(ngModel)]="imageEntity.Caption" type="text">
            </div>
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary mt-24" [disabled]="!imageForm.valid">Thêm</button>
            </div>
          </div>
        </form>
        <table class="table" *ngIf="productImages && productImages.length > 0">
          <thead>
            <tr>
              <th>
                Hình ảnh
              </th>
              <th>
                Mô tả
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let image of productImages">
              <td>
                <img [src]="baseFolder + image.Path" width="100" />
              </td>
              <td>
                {{image.Caption}}
              </td>
              <td>
                <button class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Xóa số lượng" (click)="deleteImage(image.ID)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="ln_solid"></div>
      </div>
    </div>
  </div>
</div>

<!--Quản lý số lượng sản phẩm-->
<!--Quản lý số lượng-->
<div bsModal #quantityManageModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Quản lý số lượng sản phẩm</h4>
        <button type="button" class="close pull-right" (click)="quantityManageModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left input_mask" novalidate #quantityForm="ngForm" (ngSubmit)="saveProductQuantity(quantityForm.valid)"
          *ngIf="quantityEntity">
          <div class="form-group row">
            <div class="col-xs-3">
              <label>Màu sắc</label>
              <select class="form-control" required #colorId="ngModel" name="colorId" [(ngModel)]="quantityEntity.ColorId">
                <option value="">--Chọn màu--</option>
                <option *ngFor="let x of colors" [value]="x.ID">{{x.Name}}</option>
              </select>
              <input type="hidden" [(ngModel)]="quantityEntity.ProductId" name="productId" />

              <small [hidden]="colorId.valid || (colorId.pristine && !quantityForm.submitted)" class="text-danger">
                Bạn phải chọn màu sắc
              </small>
            </div>
            <div class="col-xs-3">
              <label>Cỡ</label>
              <select class="form-control" required #sizeId="ngModel" name="sizeId" [(ngModel)]="quantityEntity.SizeId">
                <option value="">--Chọn cỡ--</option>
                <option *ngFor="let x of sizes" [value]="x.ID">{{x.Name}}</option>
              </select>
              <small [hidden]="sizeId.valid || (sizeId.pristine && !quantityForm.submitted)" class="text-danger">
                Bạn phải nhập cỡ
              </small>
            </div>
            <div class="col-xs-2">
              <label>Số lượng</label>
              <input class="form-control" type="number" #quantity="ngModel" name="quantity" [(ngModel)]="quantityEntity.Quantity" required>
              <small [hidden]="quantity.valid || (quantity.pristine && !quantityForm.submitted)" class="text-danger">
                Bạn phải nhập số lượng
              </small>
            </div>
            <div class="col-xs-4">
              <button type="submit" [disabled]="!quantityForm.valid" class="btn btn-primary mt-24">Thêm</button>
            </div>
          </div>
        </form>
        <table class="table" *ngIf="productQuantities && productQuantities.length > 0">
          <thead>
            <tr>
              <th>
                Màu sắc
              </th>
              <th>
                Kích thước
              </th>
              <th>Số lượng</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of productQuantities">
              <td>
                {{item.Color.Name}}
              </td>
              <td>
                {{item.Size.Name}}
              </td>
              <td>{{item.Quantity}}</td>
              <td>
                <button class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Xóa số lượng" (click)="deleteQuantity(item.ProductId,item.ColorId,item.SizeId)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="ln_solid"></div>
      </div>
    </div>
  </div>
</div>

