<div class="bg"style="margin-top:-20px;">
    <div class="row middle" style="width: 100%;">
        <div class="col middle-inner-left align-items-center" style="width: 33.333333%; flex:0 0 33.333333%;">
            <div class="join text-center">
                Join the Supply Chain Ecosystem
            </div>
        </div>
        <div class="col img">
                
        </div>
    </div>

    <div class="row" style="margin: 2rem 0 0 0 !important;align-items: center;justify-content: center;">
        <div class="card video-size">
            <div class="card-image">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/FtLQoWZmAH0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="card-content text-center">
                <span class="card-title">Introduction</span>
            </div>
        </div>

        <div class="card video-size" style="margin:0 2rem ;">
            <div class="card-image">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/V4BvWTncKHU" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="card-content text-center">
                <span class="card-title">For Sellers</span>
            </div>
        </div>

        <div class="card video-size" style="margin:0 2rem 0 0;">
            <div class="card-image">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/jyldZQeAn38" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="card-content text-center">
                <span class="card-title">For Buyers</span>
            </div>
        </div>
        <div class="card video-size">
            <div class="coming-soon text-center">
                Coming Soon
            </div>
            <div class="coming-soon-bottom text-center">
                <span class="card-title">Why MOQller?</span>
            </div>
        </div>
    </div>
</div>