.solgan {
    font-family: Arial;
    font-size: 18px;
}

.bg {
    height: 100%;
    line-height: 45px;
}

.middle-inner-left {
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(white, rgb(171, 171, 171));
}

.join {
    font-family: Arial;
    font-size: 36px;
    color: green;
    width: 220px;
}

.img {
    background-image: url("/assets/images/landing_page.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 45px;
}

.video-button {
    width: 150px;
    height: 80px;
    padding-top: 25px;
}

.video-size {
    width: 280px;
    height: 200px;
    padding: 1px;
}

.card-title {
    font-family: Arial;
    font-size: 20px;
}

.coming-soon {
    height: 75%;
    width: 100%;
    position: absolute;
    border-bottom-color: gray;
    border-bottom-style: solid;
    border-bottom-width: thin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: 20px;
}

.coming-soon-bottom {
    margin-top: auto;
    margin-bottom: -8px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 !important;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}