<div class="clearfix"></div>
<div class = "row margintotal">
  <div class="col-md-12 col-xs-12 col-sm-12">
    <div class = "x_panel panel-default">
      <div class =  "row margintotal">
        <div class = "col-md-12 col-sm-12 col-xs-12">
          <div class = "title_left colorfont">
            <h3>SELLER DASHBOARD </h3>
          </div>
        </div>
      </div>
      <div class= "ln_solid" style="border-top-width:2px"></div>
      <div class =  "row margintotal">
        <div class = "col-md-3 col-sm-6 col-xs-12">
          <div class = "panels panel-prepared">
            <div class = "panel-header">
              <div class = "row">
                <div class = "col-md-8 col-sm-6 col-xs-12 text-left">
                  <div class= "huge">{{orderStatistics?.PrepareToShip}}</div>
                  <div class= "">Ready to Ship</div>
                </div>
                <div class = "col-md-4 col-sm-6 col-xs-12 text-right nopaddingright">
                  <i class= "fa fa-shopping-cart fa-5x"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class = "col-md-3 col-sm-6 col-xs-12">
          <div class = "panels panel-ontheway">
            <div class = "panel-header">
              <div class = "row">
                <div class = "col-md-6 col-sm-6 col-xs-12 text-left">
                  <div class= "huge">{{orderStatistics?.OnTheWay}}</div>
                  <div class= "">In Transit</div>
                </div>
                <div class = "col-md-6 col-sm-6 col-xs-12 text-right">
                  <i class= "fa fa-truck fa-5x "></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class = "col-md-3 col-sm-6 col-xs-12">
          <div class = "panels panel-delivered">
            <div class = "panel-header">
              <div class = "row">
                <div class = "col-md-6 col-sm-6 col-xs-12 text-left">
                  <div class= "huge">{{orderStatistics?.Delivered}}</div>
                  <div class= "">Delivered</div>
                </div>
                <div class = "col-md-6 col-sm-6 col-xs-12 text-right">
                  <i class= "fa fa-check fa-5x"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class = "col-md-3 col-sm-6 col-xs-12">
          <div class = "panels panel-cancelled">
            <div class = "panel-header">
              <div class = "row">
                <div class = "col-md-6 col-sm-6 col-xs-12 text-left">
                  <div class= "huge">{{orderStatistics?.Cancelled}}</div>
                  <div class= "">Cancel orders</div>
                </div>
                <div class = "col-md-6 col-sm-6 col-xs-12 text-right">
                  <i class= "fa fa-times fa-5x"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class = "clearfix"></div>
      </div>
      <div class ="row margintotal">
        <div class = "col-md-9 col-sm-6 col-xs-12">
          biểu đồ đường
        </div>
        <div class = "col-md-3 col-sm-6 col-xs-12">
          <div class= "panels panel-default whitecolor">
            <div class = "panel-header tran">Transaction Information</div>
            <div class = "panel-body">
                <div class = "list-group">
                  Sold number
                  <div class = "pull-right text-statistics">{{orderStatistics?.TotalSold}}</div>
                </div>
                <div class = "list-group">                
                  Sold Sales
                  <div class = "pull-right text-statistics">{{orderStatistics?.TotalSales}}</div>                  
                </div>
                <div class = "list-group">               
                  Sold Fees
                  <div class = "pull-right text-statistics">{{orderStatistics?.TotalFees}}</div>                 
                </div>
              </div>
          </div>
          
        </div>
        <div class = "clearfix"></div>
      </div>
      <div class = "row margintotal whitecolor" style= "height: 16vw">
        <div class = "col-md-3 col-xs-12 col-sm-12" >biểu đồ status invent</div>
        <div class = "col-md-6 col-xs-12 col-sm-12 vertical whitecolor">
          <div class = "col-md-2 width20 " >
            <div (click) = "GoToAddMaterial()" class = "btn-blue">
              <span>ADD new inventory</span>
            </div>
          </div>
          <div class = "col-md-2 width20" >
            <div (click) = "GoToOrder()"class = "btn-blue">Order management</div>
          </div>
          <div class = "col-md-2 width20" >
            <div (click) = "GoToInventory()"class = "btn-blue">Inventory management</div>
          </div>
          <div class = "col-md-2 width20" >
            <div (click) = "GoToTransaction()" class = "btn-blue">Transaction history</div>
          </div>
          <div class = "col-md-2 width20">
            <div class = "btn-blue">Report</div>
          </div>
        </div>
        <div class = "col-md-3 col-xs-12 col-sm-12">biểu đồ invent</div>
      </div>
      
    </div>
    
  </div>
</div>
