<div class="page-title">
  <div class="title_left">
    <h3>Add new invoice</h3>
  </div>
</div>

<div class="clearfix"></div>

<div class="row">

  <div class="clearfix"></div>

  <div class="x_panel">
    <div class="x_title">
      <ul class="nav navbar-right panel_toolbox">
        <li>
          <button class="btn btn-primary" (click)="goBack()">Back</button>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <form class="form-horizontal form-label-left input_mask" novalidate #addEditForm="ngForm" (ngSubmit)="saveChanges(addEditForm.valid)"
        *ngIf="entity">
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Customer Name</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input type="hidden" [(ngModel)]="entity.ID" name="id" />
            <input type="text" #customerName="ngModel" [(ngModel)]="entity.CustomerName" required minlength="3" name="customerName" class="form-control">
            <small [hidden]="customerName.valid || (customerName.pristine && !addEditForm.submitted)" class="text-danger">
              You have to input product
            </small>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Address </label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <textarea class="form-control" #customerAddress="ngModel" [(ngModel)]="entity.CustomerAddress" name="customerAddress" rows="3"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Email</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input type="text" #customerEmail="ngModel" [(ngModel)]="entity.CustomerEmail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
              required name="customerEmail" class="form-control">
            <small [hidden]="customerEmail.valid || (customerEmail.pristine && !addEditForm.submitted)" class="text-danger">
              You have input the email
            </small>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Phone</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input type="text" #customerMobile="ngModel" [(ngModel)]="entity.CustomerMobile" required name="customerMobile" class="form-control">
            <small [hidden]="customerMobile.valid || (customerMobile.pristine && !addEditForm.submitted)" class="text-danger">
              You have input the email
            </small>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Customer Note </label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <textarea class="form-control" #customerMessage="ngModel" [(ngModel)]="entity.CustomerMessage" name="customerMessage" rows="3"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Payment Method</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <select class="form-control" #paymentMethod="ngModel" name="paymentMethod" [(ngModel)]="entity.PaymentMethod">
              <option value="">--Choose payment method--</option>
              <option value="CASH">Cash</option>
              <option value="BANKING">Bank Acount</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Payment Status</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <select class="form-control" #paymentStatus="ngModel" name="paymentStatus" [(ngModel)]="entity.PaymentStatus">
              <option value="">--Status--</option>
              <option value="PAID">Paid</option>
              <option value="UNPAID">Not Yet Pay</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Status</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="checkbox">
              <label>
                <input type="checkbox" [(ngModel)]="entity.Status" name="status" #status="ngModel"> Valid
              </label>
            </div>

          </div>
        </div>
        <div class="form-group">
          <div class="col-md-10 col-sm-12 col-xs-12">

          </div>
          <div class="col-md-2 col-sm-12 col-xs-12">
            <button type="button" (click)="showAddDetail()" class="btn btn-success">Add Detail</button>
          </div>
        </div>
        <table class="table" *ngIf="orderDetails && orderDetails.length > 0">
          <thead>
            <tr>
              <th>
                Product
              </th>
              <th>
                Quantity
              </th>
              <th>Price</th>
              <th>Amount</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of orderDetails">
              <td>
                {{item.Product.Name}}
              </td>
              <td>
                {{item.Quantity | number}}
              </td>
              <td>{{item.Price | number}}</td>
              <td>{{item.Price * item.Quantity | number}}</td>
              <td>
                <button class="btn btn-danger" (click)="deleteDetail(item)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="ln_solid"></div>
        <div class="form-group">
          <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
            <button type="submit" class="btn btn-success" [disabled]="!addEditForm.form.valid">Update</button>
          </div>
        </div>

      </form>
    </div>
  </div>

</div>

<div bsModal #addEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add new Detail</h4>
        <button type="button" class="close pull-right" (click)="addEditModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left input_mask" novalidate #detailForm="ngForm" (ngSubmit)="saveOrderDetail(detailForm.valid)"
          *ngIf="entity">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Product</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" name="productID" #productID="ngModel" required [(ngModel)]="detailEntity.ProductID">
                <option value="">--Chọn sản phẩm--</option>
                <option *ngFor="let x of products" [value]="x.ID">{{x.Name}}</option>
              </select>
              <small [hidden]="productID.valid || (productID.pristine && !detailForm.submitted)" class="text-danger">
                You have to input at lease 3 characters
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Color</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" required #colorId="ngModel" name="colorId" [(ngModel)]="detailEntity.ColorId">
                <option value="">--Chọn màu--</option>
                <option *ngFor="let x of colors" [value]="x.ID">{{x.Name}}</option>
              </select>
              <small [hidden]="colorId.valid || (colorId.pristine && !detailForm.submitted)" class="text-danger">
                You have to choose color
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Size</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" required #sizeId="ngModel" name="sizeId" [(ngModel)]="detailEntity.SizeId">
                <option value="">--Choose Size--</option>
                <option *ngFor="let x of sizes" [value]="x.ID">{{x.Name}}</option>
              </select>
              <small [hidden]="sizeId.valid || (sizeId.pristine && !detailForm.submitted)" class="text-danger">
                You have to input size
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Quantity</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="number" #quantity="ngModel" [(ngModel)]="detailEntity.Quantity" required name="quantity" class="form-control">
              <small [hidden]="quantity.valid || (quantity.pristine && !detailForm.submitted)" class="text-danger">
                You have to input quantity
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Price</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="number" #price="ngModel" [(ngModel)]="detailEntity.Price" required name="price" class="form-control">
              <small [hidden]="price.valid || (price.pristine && !detailForm.submitted)" class="text-danger">
                You have to input price
              </small>
            </div>
          </div>

          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">

              <button type="submit" class="btn btn-success" [disabled]="!detailForm.form.valid">Update</button>
              <button type="button" (click)="addEditModal.hide()" class="btn btn-primary">Cancel</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>