<div class="page-title">
  <div class="title_left">
    <h3>State List</h3>
  </div>

  <div class="title_right">
    <div class="col-md-4 col-sm-6 col-xs-12 form-group">
      <select class="form-control" name="countryId" [(ngModel)]="countryId">
        <option [ngValue]="undefined" selected>--Select Country--</option>
        <option *ngFor="let x of countries" [ngValue]="x.Id">{{x.Name}}</option>
      </select>
    </div>
    <div class="col-md-8 col-sm-6 col-xs-12 form-group top_search">
      <div class="input-group">
        <input type="text" class="form-control" name="filter" (keyup.enter)="loadData()" [(ngModel)]="filter" placeholder="Search...">
        <span class="input-group-btn">
          <button class="btn btn-default" (click)="loadData()" type="button">Go</button>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel noboder">
      <div class="x_title">
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <button class="btn btn-success" (click)="showAddModal()">Add new</button>
          </li>

        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content nopadding">
          <div class="col-md-12 nopadding">
              <pagination [boundaryLinks]="true" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)" [totalItems]="totalRow" *ngIf="!hiddenpaging"
                [(ngModel)]="pageIndex" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
            </div>
        <table class="table table-bordered table-striped noboder nopadding">
          <thead>
            <tr class= "title_materilist">
              <th >Code</th>
              <th >Name</th>
              <th>Country</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let state of states">
              <td>{{state.Code}}</td>
              <td>{{state.Name}}</td>
              <td>{{state.Country.Name}}</td>
              <td>
                <button class="btn btn-primary" (click)="showEditModal(state.Id)">
                  <i class="fa fa-pencil-square-o"></i>
                </button>
                <button class="btn btn-danger" (click)="deleteItem(state.Id)">
                  <i class="fa fa-trash"></i>
                </button>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!--Modal add and edit-->
<div bsModal #modalAddEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add/edit</h4>
        <button type="button" class="close pull-right" (click)="modalAddEdit.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm.valid)"
          *ngIf="entity">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Code</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="hidden" [(ngModel)]="entity.Id" name="id" />
              <input type="text" #code="ngModel" [(ngModel)]="entity.Code" required minlength="3" name="code" class="form-control" placeholder="Code">
              <small [hidden]="code.valid || (code.pristine && !addEditForm.submitted)" class="text-danger">
                Code is at least 3 characters
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Name </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <textarea class="form-control" #name="ngModel" required [(ngModel)]="entity.Name" name="name" rows="3" placeholder="Name"></textarea>
              <small [hidden]="name.valid || (name.pristine && !addEditForm.submitted)" class="text-danger">
                Name is not empty
              </small>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Country</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" name="countryId" required [(ngModel)]="entity.CountryId" #countryId1="ngModel">
                <option [ngValue]="undefined" disabled selected>--Select Country--</option>
                <option *ngFor="let x of countries" [ngValue]="x.Id">{{x.Name}}</option>
              </select>
              <small [hidden]="countryId1.valid || (countryId1.pristine && !addEditForm.submitted)" class="text-danger">
                Country is not empty
              </small>
              <input type="hidden" [(ngModel)]="entity.CountryId" name="countryId" class="form-control" #countryId="ngModel" />
            </div>
          </div>

          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="submit" class="btn btn-success" [disabled]="!addEditForm.form.valid">Accept</button>
              <button type="button" (click)="modalAddEdit.hide()" class="btn btn-primary">Cancel</button>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>