
<div class=" col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="title_left">
            <h3>Transaction History</h3>
        </div>
        <div class="">
            <div class="col-md-3 col-sm-6 col-xs-12 form-group" style="padding-left:0px;">
                <input type="text" name="startDate" daterangepicker #StartDate [options]="StartdateOptions" (selected)="changeStartDate($event)" class="form-control" placeholder="From date...">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                <input type="text" name="endDate" daterangepicker disabled #EndDate [options]="EnddateOptions"  (selected)="changeEndDate($event)" class="form-control" placeholder="To date...">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                <button class="btn btn-success" (click)="search()" ><i class="fa fa-search"></i> Search</button>
            </div>
        </div>
        <div class="text-center col-md-12 col-sm-12 col-xs-12 " *ngIf="isLoading">
            <i class="fa fa-spin fa-spinner fa-5x"></i>
            Loading data...
        </div>
        <!-- Hiển thị khi là buyer -->
        <div *ngIf = "!checkSeller && !isLoading">
            <div class="title_left col-md-12 nopadding">
                <h4>Buying transactions - Purchased Items</h4>
            </div>
            <div>
                <table class="table table-bordered table-striped noboder nopadding">
                    <thead>
                        <tr class= "title_materilist">
                            <th class="pointer" (click)="sort('OrderNumber')">Order Number
                                    <i style="float: right" class="fa" [ngClass]="{'fa-sort': column != 'OrderNumber', 
                                                        'fa-sort-asc': (column == 'OrderNumber' && !isDesc), 
                                                        'fa-sort-desc': (column == 'OrderNumber' && isDesc) }" aria-hidden="true"> </i>
                            </th>
                            <th class="pointer" (click)="sort('OrderDate')">Order Date
                                    <i style="float: right" class="fa" [ngClass]="{'fa-sort': column != 'OrderDate', 
                                                        'fa-sort-asc': (column == 'OrderDate' && !isDesc), 
                                                        'fa-sort-desc': (column == 'OrderDate' && isDesc) }" aria-hidden="true"> </i>
                            </th> 
                            <th class="pointer" (click)="sort('PartNumber')">Part Number
                                    <i style="float: right" class="fa" [ngClass]="{'fa-sort': column != 'PartNumber', 
                                                        'fa-sort-asc': (column == 'PartNumber' && !isDesc), 
                                                        'fa-sort-desc': (column == 'PartNumber' && isDesc) }" aria-hidden="true"> </i>
                            </th> 
                            <th class="pointer" (click)="sort('Quantity')">Quantity
                                    <i style="float: right" class="fa" [ngClass]="{'fa-sort': column != 'Quantity', 
                                                        'fa-sort-asc': (column == 'Quantity' && !isDesc), 
                                                        'fa-sort-desc': (column == 'Quantity' && isDesc) }" aria-hidden="true"> </i>
                            </th>                                                      
                            <th>Total</th>
                            <th class="pointer" (click)="sort('DeliveryStatusName')">Status
                                    <i style="float: right" class="fa" [ngClass]="{'fa-sort': column != 'DeliveryStatusName', 
                                                        'fa-sort-asc': (column == 'DeliveryStatusName' && !isDesc), 
                                                        'fa-sort-desc': (column == 'DeliveryStatusName' && isDesc) }" aria-hidden="true"> </i>
                            </th>
                            <th>Order Status</th>
                            <th class="pointer" (click)="sort('SellerName')">Seller Id
                                    <i style="float: right" class="fa" [ngClass]="{'fa-sort': column != 'SellerName', 
                                                        'fa-sort-asc': (column == 'SellerName' && !isDesc), 
                                                        'fa-sort-desc': (column == 'SellerName' && isDesc) }" aria-hidden="true"> </i>
                            </th> 
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of BuyingTransactions | orderBy: {property: column, direction: direction} ">
                            <td class="alignNumber">{{item.OrderNumber}}</td>
                            <td class="alignNumber">{{item.OrderDate| date:'MM/dd/yyyy'}}</td>
                            <td><a class = "linkpart"routerLink= "/home/materialdetail/{{item.MaterialId}}">{{item.PartNumber}}</a></td>
                            <td class="alignNumber">{{item.Quantity | number}}</td>
                            <td class="alignNumber">{{item.Total | currency : 'USD': 'symbol-narrow': '.0-2'}}</td>
                            <td>{{item.DeliveryStatusName}}</td>
                            <td>{{item.OrderStatusName}}</td>
                            <td>{{item.SellerName}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-md-12 nopadding" >
                    <pagination [boundaryLinks]="true" [itemsPerPage]="pageSize" (pageChanged)="pageChangedBuying($event)" [totalItems]="totalRowBuying" *ngIf="!hiddenpagingBuying"
                        [(ngModel)]="pageIndexBuying" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <!-- Hiển thị khi là seller -->
        <div *ngIf = "checkSeller && !isLoading">
            <div class="title_left col-md-12 nopadding">
                <h4>Selling transactions{{titleByDelivery}}</h4>
            </div>
            <div>
                <table class="table table-bordered table-striped noboder nopadding">
                    <thead>
                        <tr class= "title_materilist">
                            <th class="pointer" (click)="sort('OrderNumber')">Order Number
                                    <i style="float: right" class="fa" [ngClass]="{'fa-sort': column != 'OrderNumber', 
                                                        'fa-sort-asc': (column == 'OrderNumber' && !isDesc), 
                                                        'fa-sort-desc': (column == 'OrderNumber' && isDesc) }" aria-hidden="true"> </i>
                            </th>
                            <th class="pointer" (click)="sort('OrderDate')">Order Date
                                    <i style="float: right" class="fa" [ngClass]="{'fa-sort': column != 'OrderDate', 
                                                        'fa-sort-asc': (column == 'OrderDate' && !isDesc), 
                                                        'fa-sort-desc': (column == 'OrderDate' && isDesc) }" aria-hidden="true"> </i>
                            </th>
                            <th class="pointer" (click)="sort('PartNumber')">Manufacturer Part Number
                                    <i style="float: right" class="fa" [ngClass]="{'fa-sort': column != 'PartNumber', 
                                                        'fa-sort-asc': (column == 'PartNumber' && !isDesc), 
                                                        'fa-sort-desc': (column == 'PartNumber' && isDesc) }" aria-hidden="true"> </i>
                            </th>
                            <th class="pointer" (click)="sort('Quantity')">Quantity
                                    <i style="float: right" class="fa" [ngClass]="{'fa-sort': column != 'Quantity', 
                                                        'fa-sort-asc': (column == 'Quantity' && !isDesc), 
                                                        'fa-sort-desc': (column == 'Quantity' && isDesc) }" aria-hidden="true"> </i>
                            </th>
                            <th>Total</th>
                            <th class="pointer" (click)="sort('Status')">Status
                                    <i style="float: right" class="fa" [ngClass]="{'fa-sort': column != 'Status', 
                                                        'fa-sort-asc': (column == 'Status' && !isDesc), 
                                                        'fa-sort-desc': (column == 'Status' && isDesc) }" aria-hidden="true"> </i>
                            </th>
                            <th>Order Status</th>
                            <th>Tracking Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of SellingTransactions | orderBy: {property: column, direction: direction} ">
                            <td class="alignNumber">{{item.OrderNumber}}</td>
                            <td class="alignNumber">{{item.OrderDate| date:'MM/dd/yyyy'}}</td>
                            <td><a class = "linkpart"routerLink= "/home/materialdetail/{{item.MaterialId}}">{{item.PartNumber}}</a></td>
                            <td class="alignNumber">{{item.Quantity | number}}</td>
                            <td class="alignNumber">{{item.Total | currency : 'USD': 'symbol-narrow': '.0-2'}}</td>
                            <td>{{item.DeliveryStatusName}}</td>
                            <td>{{item.OrderStatusName}}</td>
                            <td>{{item.TrackingNumber}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-md-12 nopadding" >
                    <pagination [boundaryLinks]="true" [itemsPerPage]="pageSize" (pageChanged)="pageChangedSelling($event)" [totalItems]="totalRowSelling" *ngIf="!hiddenpagingSelling"
                        [(ngModel)]="pageIndexSelling" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-success" (click)="Export()"><i class="fa fa-cloud-download"></i> Export to xls</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>