<div>
    <div class="logo-home">
        <div class="pro-action">
            <a routerLink="" >
                <img style="width:100%;" src="../../../assets/images/underconstruction.jpg" alt="logo" />
            </a>
        </div>
        <!--end.pro-action-->
        <!--end .big-search-->
    </div>
    <!--end.logo-home-->
</div>