<div>
    <div>
        <div class="big-search">
            <form id="search" method="get" action="" class="intro-big-search">
                    <div class="center">
                        <h4>Which infomation do you want search on?</h4>
                        <input type="radio" name="MOQ" value="PartNumber" checked class="w3-radio"  (change)="changeEventPartNumber($event)"> Part Number
                        <br>
                        <input type="radio" name="MOQ" value="Description"  class="w3-radio"  (change)="changeEventDescription($event)"> Description
                        <br>
                        <input type="radio" name="MOQ" value="Distributer" class="w3-radio"  (change)="changeEventDistributer($event)"> Manufacturer
                        <br>
                        <br>
                        <input type="text" placeholder="Enter keyword here..." name="part" id="part" [(ngModel)]="keyWord" autocomplete="off" autofocus=""
                    class="search-field">
                <button [disabled]="keyWord == ''" [routerLink]="['/home/materiallist/index',keyWord,searchField]" class="secondary-button">Search</button>
                    </div>
            </form>
        </div>
        <!--end.pro-action-->
        <!--end .big-search-->
    </div>
    <!--end.logo-home-->
</div>