<div class="notop">
    <div class="col-md-2 left_col ">
        <div class="main_menu">
            <h3 style="color: #fff">Work Order</h3>
            <ul class="nav side-menu" style="display:inline !important;">
                <li *ngFor="let item of workorders;" >
                    <a [ngClass] = "{'currWorkOrder': item.Id == currentWorkOrder }" (click)="LoadInfomation(item.Id)">Work Order {{item.Id}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-10 pull-right">
        <div class="x_panel row ">
            <div *ngIf="!showWorkOrder" class="col-sm-12 col-xs-12 form-group">
                <h2>Choose work order to display</h2>
            </div>
            <div style="padding-top:10px;" id="ContentDataEnty" *ngIf="showWorkOrder">
                <div class="col-sm-12 col-xs-12 form-group">
                    <div class="col-md-2 nopadding">
                        <label class="control-label">Material Information</label>
                    </div>
                    <div class="col-md-10">
                        <!-- <div [innerHTML]="workorder.Data"></div> -->
                        <textarea style ="height: 200px; resize: none;" class="form-control tempdata" #Data ="ngModel" name="Data" [(ngModel)] ="workorder.Data" autofocus></textarea>
                    </div>
                </div>
               
                <div class="col-sm-6 col-xs-12 form-group">
                    <div class="col-sm-2 nopadding">
                        <label class="control-label">Seller ID</label>
                    </div>
                    <div>
                        {{workorder.SellerName}}
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 form-group">
                    <div class="col-sm-2 nopadding">
                        <label class="control-label"> Seller Email</label>
                    </div>
                    <div>
                        {{workorder.SellerEmail}}
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 form-group">
                    <div class="col-sm-2 nopadding">
                        <label class="control-label">Date Created</label>
                    </div>
                    <div>
                        
                        {{workorder.UploadDate | date: 'MM-dd-yyyy'}}
                    </div>
                </div>
                <form name="Notification" ngNativeValidate #Notification="ngForm" (ngSubmit)="SendMail(Notification)">
                    <div class="col-sm-6 col-xs-12 form-group">
                        <div class="col-sm-2 nopadding">
                            <label class="control-label">Notification</label> 
                            
                        </div>
                        <div class="col-sm-10 nopadding">
                            <textarea type="text" required name="description" [(ngModel)]="description" class="form-control"></textarea>
                        </div>
                        <div class = "col-sm-3 nopadding margintop">
                                <button class="btn btn-info btn-infos">Send email</button>
                        </div>
                    </div>
                </form>
                <div class="col-sm-12 col-xs-12 form-group">
                    <label class="control-label">Input material infomation into material list </label>
                </div>
                <form name="DataEntry" ngNativeValidate #DataEntry="ngForm" (ngSubmit)="Save(DataEntry)">
                    <table class="table table-bordered table-striped noboder nopadding">
                        <thead>
                            <tr class = "title_materilist">
                                <!-- <th style="width: 40px;"></th> -->
                                <th>Part Number</th>
                                <th>Manufacturer</th>
                                <th>Description</th>
                                <th>Available Qty</th>
                                <th>Condition</th>
                                <th>Datecode</th>
                                <th>MOQ</th>
                                <th>Due Date</th>
                                <th>Status</th>
                                <th>Price</th>
                                <th>Status to Search</th>
                                <th>Upload Image</th>
                                <th>Tech link</th>
                                <th>In Stock</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of entitys_old ;" >
                                <!-- <td></td> -->
                                <td>
                                    {{item.PartNumber == null ? item.Material.PartNumber : item.PartNumber }}
                                </td>
                                <td>
                                    {{item.Manufacturer == null ? item.Material.Manufacturer : item.Manufacturer}}
                                </td>
                                <td>
                                    {{item.Description == null ? item.Material.Description : item.Description}}
                                </td>
                                <td class="alignNumber">
                                    {{item.AvailableQty  | number}}
                                </td>
                                <td>
                                    {{item.ConditionName}}
                                </td>
                                <td>
                                    {{item.DateCode}}
                                </td>
                                <td class="alignNumber">
                                    {{item.MOQ | number}}
                                </td>
                                <td class="alignNumber">
                                    {{item.DueDate  | date: 'MM-dd-yyyy'}}
                                </td>
                                <td>
                                    {{item.ShippingStatus.Name}}
                                </td>
                                <td class="alignNumber">
                                    {{item.Price  | currency: 'USD':'symbol-narrow':'.0-4'}}
                                </td>
                                <td>
                                    {{item.ApproveStatus == 1 ? 'Ready' : item.ApproveStatus == 2 ? 'Wait Data Entry' :  item.ApproveStatus == 0 ? 'Cancelled' : ''}}
                                </td>
                                <td> 
                                    <img style="max-width:100%;" src='{{item.Material.Image1 == "" ? base64textString : "data:image/jpg;base64,"+ item.Material.Image1}}'>
                                </td>
                                <td>
                                    {{ item.TechLink === null ? item.Material.TechLink : item.TechLink }}
                                </td>
                                <td>
                                    
                                </td>
                                <td class="buy" valign="top" align="center">
                                   
                                </td>
                            </tr>
                            <tr *ngFor="let item of entitys ; let i = index">
                                <!-- <td><input type= "checkbox" /></td> -->
                                <td>
                                    <input [(ngModel)]="item.PartNumber" DisableKeyboard="true" trim type="text" required name="PartNumber{{i}}" #PartNumber="ngModel"/>
                                </td>
                                <td>
                                    <input [(ngModel)]="item.Manufacturer" trim required type="text" DisableKeyboard="true" name="Manufacturer{{i}}" #Manufacturer="ngModel" />
                                </td>
                                <td>
                                    <input [(ngModel)]="item.Description" trim required type="text" DisableKeyboard="true" name="Description{{i}}" #Description="ngModel"/>
                                </td>
                                <td>
                                    <input [(ngModel)]="item.AvailableQty" trim required class="alignNumber" min="0" DisableKeyboard="true" pattern="[0-9]+" type="number" name="AvailableQty{{i}}" #AvailableQty="ngModel"/>
                                </td>
                                <td>
                                    <select [(ngModel)]="item.Condition" name="Condition{{i}}" #Condition="ngModel" style="border:none; width: 100%;;" >
                                        <option *ngFor = "let x of ConditionEnum" [ngValue] = "x.Id" >{{x.Name}}</option>
                                    </select>
                                </td>
                                <td>
                                    <input [(ngModel)]="item.DateCode" trim required class="alignNumber" min="0" DisableKeyboard="true" type="number" name="DateCode{{i}}" #DateCode="ngModel"/>
                                </td>
                                <td>
                                    <input [(ngModel)]="item.MOQ" trim required class="alignNumber" min="0" type="number" DisableKeyboard="true" pattern="[0-9]+" name="MOQ{{i}}" #MOQ="ngModel"/>
                                </td>
                                <td>
                                    <input [(ngModel)]="item.DueDate" class="alignNumber" type="text" name="DueDate{{i}}" #DueDate="ngModel"  DisableKeyboard="true" daterangepicker trim [options]="dateOptions" (selected)="changeDueDate($event, i)"/>
                                </td>
                                <td>
                                    <select [(ngModel)]="item.ShippingStatusId" name="ShippingStatusId{{i}}" #Status="ngModel" style="border:none" >
                                        <option [ngValue] = "'0'"></option>
                                        <option *ngFor = "let x of ShippingStatus" [ngValue] = "x.Id" >{{x.Name}}</option>
                                    </select>
                                </td>
                                <td>
                                    <input [(ngModel)]="item.Price" trim required pattern="[0-9]+([\.,][0-9]+)?" min="0.01" step="0.01" DisableKeyboard="true" required class="alignNumber" type="number" name="Price{{i}}" #Price="ngModel"/>
                                </td>
                                <td>
                                    <img *ngIf="item.ImagePartNumber" [src]="getImage(item.FileName, item.ImagePartNumber)" style="height: 32px; width:32px;" />
                                </td>
                                <td> 
                                    <button (click)="browse(i); $event.preventDefault();">Browse...</button>
                                    <input type="file" [attr.id]="i" (change)="inputFileClick($event, item)" style="display:none">    
                                </td>
                                <td>
                                    <input [(ngModel)]="item.Techlink" class="" trim type="text" name="Techlink{{i}}" DisableKeyboard="true" #Techlink="ngModel"/>
                                </td>
                                <td>
                                    <input [(ngModel)]="item.InStock" class="alignNumber" type="text" DisableKeyboard="true" name="InStock{{i}}" #InStock="ngModel"/>
                                </td>
                                <td class="buy" valign="top" align="center">
                                    <a (click)="RemoveItem(i)"><i class="fa fa-trash"  style="font-size: 16px;" aria-hidden="true"></i></a>
                                    <!-- <button  type="button" class="browser"  style="display: inline-block;" (click) = "RemoveItem(i)"><i class="fa fa-plus-remove" style="font-size: 22px;" aria-hidden="true"></i></button> -->
                                </td>
                            </tr>
                            <tr>
                                <td colspan="15"><div class="col-sm-12 "> <a (click)="AddNewRecord(DataEntry)"><i class="fa fa-plus-square pull-right" style="font-size: 22px;" aria-hidden="true"></i></a> </div></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-sm-12">
                        <button class="btn btn-success" type="submit" >Save</button> 
                        <a class="btn btn-warning" (click)="complete(DataEntry)" >Complete</a>
                    </div>
                </form>
            </div> 
        </div>
    </div>
    <div class="clearfix"></div>
</div>

