input {
    border: none;
    background : transparent;
}

input:hover {
    border: 1px;
}

#ContentDataEnty table
{
    table-layout:fixed;
    width: 100%;
}

#ContentDataEnty table td input{
    width: 100%;
  }

  input.break {
    word-wrap: break-word;
    word-break: break-all;
    height: 80px;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

.currWorkOrder{
    color: rgb(187, 96, 35) !important;
    background-color: white;
}
ul li a:hover{
    color: rgb(187, 96, 35) !important;
    background-color: white;
}
textarea {
    resize: none;
}

.side-menu {
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}